{#
/**
 * @file
 * Macro for embedding svg icons
 *
 * @var string name
 *   The icon (name) of the svg to embed. It should match one of the svgs
 *   that exist within the icons/assets/ directory.
 *   iconClass can be passed to the embedded icon
 */
#}
{% macro get(icon, iconClass) %}
  {% include '@uma_daris/icons/assets/' ~ icon ~ '.svg.twig' with {
    'icon': icon,
    'iconClass': iconClass
    } only
  %}
{% endmacro %}
