<article class="card card--wide">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/I_love_UMass_opt1_690x460_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>UMass Magazine</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span></span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link"><cite>UMass Magazine</cite> winter issue out now</a>
  
</h3>
      
    
    
  </div>

</article>