{{ attach_library('uma_daris/card') }}

<article class="card{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
  {#
    Optional: Pass in Drupal specific functionality.
    Note that this is mostly relevant to nodes and blocks.
  #}
  {#
    {{ title_prefix }}
    {{ title_suffix }}
  #}

  <div class="card__image">
    {{ image }}
  </div>
{# modifiers for headings should go in the Drupal template set statement #}
  <div class="card__content">
    {% block tags %}
      {% if tags %}
        {%
          include '@uma_daris/tags/tags.twig' with {
            "items": tags
          } only
        %}
      {% endif %}
    {% endblock tags %}

    {% if heading.title %}
      {{ title_prefix }}
      {%
        include '@uma_daris/heading/heading.twig' with {
          "heading": heading
        } only
      %}
      {{ title_suffix }}
    {% endif %}

    {% if summary_text %}
      <div class="card__summary">
        {{ summary_text }}
      </div>
    {% endif %}

  </div>

</article>
