// Import site utilities.
@import '../../global/utils/init';

.text-block-sidebar {
  @include layout-content;
  @include space-between-xsm;
}

.text-block-sidebar__heading {
  @include heading-3-style;
  max-width: 600px;
  margin: 0;

  @include breakpoint($bp-md) {
    max-width: 800px;
    margin: 0;
  }
}

.text-block-sidebar--with-block {

  .text-block-sidebar__content {
    @include global-typography;

    @include breakpoint ($bp-sm) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .text-block-sidebar__paragraph-text {
      max-width: 800px;
    }

    .text-block-sidebar__block-content {
      width: 100%;
      max-width: 400px;
      margin-bottom: 2.4rem;

      @include breakpoint ($bp-sm) {
        margin: 1rem 0 0 4.5rem;
        max-width: 355px;
      }

      @include breakpoint ($bp-md) {
        margin-left: 5.5rem;
        max-width: 345px;
      }
    }

    .block {
      padding: 3rem 4rem;
      background-color: $color-gray-lt;

      @include breakpoint ($bp-under-xsm) {
        padding: 2rem 3rem;
      }

      @include breakpoint ($bp-under-xxsm) {
        padding: 1.5rem 2rem;
      }



      h2 {
        @include heading-5-style;
        margin-top: 0;
        color: $color-black;
        margin-bottom: 1.2rem;

        @include breakpoint ($bp-md) {
          margin-bottom: 1.4rem;
        }
      }

      ul.menu {
        list-style: none;
        margin: 0;

        a {
          display: block;
          line-height: 2.8rem;

          @include breakpoint ($bp-md) {
            line-height: 2.4rem;
          }

          &:visited {
            color: $color-umass-maroon;
          }

          &:hover,
          &:active {
            color: $color-black;
          }
        }
      }
    }
  }
}

.text-block-sidebar--without-block {

  .text-block-sidebar__paragraph-text {
    max-width: 900px;
  }
}
