{{ attach_library('uma_daris/text-media-sidebar') }}

<section class="text-media-sidebar{{ modifier ? ' ' ~ modifier }}{{- attributes ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
  {# heading is optional #}
  {% if heading.title %}
    {%
      include '@uma_daris/heading/heading.twig' with {
        "heading": heading
      } only
    %}
  {% endif %}
  <div class="text-media-sidebar__content">
  {# media is required #}
  {% if video %}
    {%
      include '@uma_daris/media-item/media-item.twig' with {
        "video": video,
        "caption": caption
      } only
    %}
  {% elseif image %}
    {%
      include '@uma_daris/media-item/media-item.twig' with {
        "image": image,
        "caption": caption
      } only
    %}
  {% endif %}

    {# paragraph-text is required #}
    <div class="text-media-sidebar__paragraph-text">
      {{ paragraph_text }}
    </div>
  </div>
</section>
