<section class="text-media-sidebar text-media-sidebar--with-image">
        

<h2 class="heading text-media-sidebar__heading" >

      Commitment to Inclusive Excellence
  
</h2>
    <div class="text-media-sidebar__content">
        

<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='/advancement/themes/custom/uma_daris/dist/images/ADV_Vision_Chancellor_690.jpg' alt='Group photo' />
    </div>
          <figcaption class="media-item__caption">
      Example image caption.
    </figcaption>
  </figure>
  
        <div class="text-media-sidebar__paragraph-text">
      <p>By simply starting a conversation with members of the UMass community, we can increase their advocacy and philanthropic support of the university. Our goal is to inspire more contributions from alumni and friends of UMass Amherst to support the advancement of the university as a world-class and globally recognized institution. And, by engaging with them early, we get to enhance their experience with the university, from their first day on campus to graduation and beyond—guiding them through their college journey and on towards a lifetime of giving.</p>
    </div>
  </div>
</section>