{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set rendered_content = content|render %}
{# alternative is to create this template with extend so you can just change the things you want to alter #}

{# logic for modifier with image vs video #}
{% set media_type = content.field_media['#items'].entity.bundle() %}
{% set modifier = media_type == 'image' ? 'text-media-sidebar--with-image' : 'text-media-sidebar--with-video' %}

{% if not (content.field_media['#items'].entity.field_caption_private.isEmpty == true) %}
{% set has_caption = true %}
{% endif %}

{% set heading_array = {
  heading_level: "2",
  modifier: "text-media-sidebar__heading",
  title: content.field_heading|render|trim is not empty ? content.field_heading,
  url: ''
}
%}

{# note space in front of paragraph #}
{%
  set classes = [
    ' paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{# mapping fields in the patternlab component to the fields in the paragraph type #}
{%
  include "@uma_daris/text-media-sidebar/text-media-sidebar.twig" with {
    attributes: attributes.addClass(classes),
    image: media_type == 'image' ? content.field_media['#items'].entity.field_media_image_1|view('text_media_sidebar') : null,
    video: media_type == 'remote_video' ? content.field_media['#items'].entity.field_media_oembed_video_1|view('text_media_sidebar') : null,
    caption: has_caption == 'true' ? content.field_media['#items'].entity.field_caption_private|view('text_media_sidebar') : null,
    heading: heading_array,
    paragraph_text: content.field_body|render|trim is not empty ? content.field_body,
    modifier: modifier
  } only
%}
