{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set rendered_content = content|render %}
{# alternative is to create this template with extend so you can just change the things you want to alter #}

{# logic for modifier when no image #}
{% set modifier = content.field_page_summary_btn[0]['#title']|render|trim is not empty ? 'page-summary-image--with-button' : 'page-summary-image--without-button' %}

{# note space in front of paragraph #}
{%
  set classes = [
    ' paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{# get uri to image if one is present #}
{% set image_uri = content.field_image|render|trim is not empty ? content.field_image['#items']|file_uri : '' %}

{# mapping fields in the page-summary-image component to the fields in the paragraph type #}
{%
  include "@uma_daris/page-summary-image/page-summary-image.twig" with {
    attributes: attributes.addClass(classes),
      image: image_uri|image_style('page_summary_m'),
      summary_text: content.field_page_summary_text|render|trim is not empty ? content.field_page_summary_text,
      button: {
        text: content.field_page_summary_btn[0]['#title']|render|trim,
        url:  content.field_page_summary_btn[0]['#url']|render|trim
      },
      modifier: modifier
  } only
%}
