{{ attach_library('uma_daris/text-button-sidebar') }}

<section class="text-button-sidebar{{ modifier ? ' ' ~ modifier }}{{- attributes ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
  {# heading is optional #}

  {% if heading.title %}
    {%
      include '@uma_daris/heading/heading.twig' with {
        "heading": heading
      } only
    %}
  {% endif %}

  <div class="text-button-sidebar__content">

    {# paragraph-text is required #}
    <div class="text-button-sidebar__paragraph-text">
      {{ paragraph_text }}
    </div>

    {# button is optional #}
    {% if button.text %}
    <div class="text-button-sidebar__button">
      {%
        include '@uma_daris/button/button.twig' with {
          "button": button
        } only
      %}
    </div>
    {% endif %}

  </div>
</section>
