<section class="text-button-sidebar">
  
      

<h2 class="heading text-button-sidebar__heading" >

      Office of the Vice Chancellor
  
</h2>
  
  <div class="text-button-sidebar__content">

        <div class="text-button-sidebar__paragraph-text">
      <p>At the helm of the Advancement division is the office of the vice chancellor—leading and facilitating our integrated model of fundraising, alumni engagement, and communications. We work with the other lead units to create a comprehensive program that sparks the interests and generosity of our alumni and donors.</p>
    </div>

            <div class="text-button-sidebar__button">
      

  <a href="#" class="button">
    Partner with Advancement
  </a>
    </div>
    
  </div>
</section>