<div class="hero " >
    
        <div class="hero__media">
      

<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='https://source.unsplash.com/FIKD9t5_5zQ/1400x787' alt='test image' />
    </div>
      </figure>
    </div>
  
  <div class="hero__content">
          <div class="hero__heading">
        

<h2 class="heading" >

      
  
</h2>
      </div>
    
          <div class="hero__body">
        Some sites need a tagline mauris ac dui sit amet sem facilisis finibus vitae et mi.
      </div>
    
          

  <a href="#" class="button">
    Learn more
  </a>
      </div>
</section>