{{ attach_library('uma_daris/hero') }}

<div class="hero {{ modifier }}" {{ extra_attributes }}>
  {#
    Optional: Pass in Drupal specific functionality.
    Note that this is mostly relevant to nodes and blocks.
  #}
  {#
    {{ title_prefix }}
    {{ title_suffix }}
  #}

  {# Media could be an image or video. #}
  {% if image %}
    <div class="hero__media">
      {%
        include '@uma_daris/media-item/media-item.twig' with {
          "image": image
        } only
      %}
    </div>
  {% endif %}

  <div class="hero__content">
    {% if title %}
      <div class="hero__heading">
        {%
          include '@uma_daris/heading/heading.twig' with {
            "title": title,
            "heading_level": heading_level,
            "modifier": "hero__heading"
          } only
        %}
      </div>
    {% endif %}

    {% if body %}
      <div class="hero__body">
        {{ body }}
      </div>
    {% endif %}

    {% if button.text %}
      {%
        include '@uma_daris/button/button.twig' with {
          "button": button
        } only
      %}
    {% endif %}
  </div>
</section>
