// Import site utilities.
@import '../../global/utils/init';

.resource {

  .resource__icon {
    max-width: 2.5rem;
    padding-right: 0.2rem;
    margin-bottom: -0.5rem;
  }

  a.resource__link {
    padding: 1rem 0;
    color: $color-gray-dk;
    text-decoration: none;
  }

  a .resource__icon,
  a:link .resource__icon,
  a:visited .resource__icon {
    color: $color-umass-maroon;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  a:hover .resource__icon {
    color: $color-black;
    text-decoration: none;
  }

  a:active .resource__icon {
    color: $color-gray-ada;
    text-decoration: none;
  }

  a .resource__description,
  a:link .resource__description,
  a:visited .resource__description {
    color: $color-gray-dk;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: $font-weight-semibold;
  }

  a:hover .resource__description {
    color: $color-black;
    text-decoration: underline;
  }

  a:active .resource__description {
    color: $color-gray-ada;
    text-decoration: none;
  }

  .resource__icon-name {
    @include element-invisible;
  }

  .resource__summary {
    @include global-typography;
    @include text-links;
  }
}
