{{ attach_library('uma_daris/text-block-sidebar') }}

<section class="text-block-sidebar{{ modifier ? ' ' ~ modifier }}{{- attributes ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
  {# heading is optional #}
  {% if heading.title %}
    {%
      include '@uma_daris/heading/heading.twig' with {
        "heading": heading
      } only
    %}
  {% endif %}
  <div class="text-block-sidebar__content">

    {# paragraph-text is required #}
    <div class="text-block-sidebar__paragraph-text">
      {{ paragraph_text }}
    </div>

  {# block is not required because it may be needed and then not or the other way around #}
  {% if block_content %}
    <div class="text-block-sidebar__block-content">
      {{ block_content }}
    </div>
  {% endif %}

  </div>
</section>
