{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions defined in uma_daris.info.yml:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the right sidebar.
 * - page.footer_first: Items for the footer first region.
* - page.footer_second: Items for the footer second region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library('uma_daris/umass-branding-overrides') }}
{{ attach_library('uma_daris/page-layout') }}
{{ attach_library('uma_daris/regions') }}

{# sidebar region is excluded for public_page and public_feature node types using a uma_daris_preprocess_page function in uma_daris.theme to insure nobody accidentally adds a block to the sidebar for those pages in the future #}

{%
set layout_classes = [
  'main-wrapper',
  page.sidebar ? 'sidebar-layout' : 'no-sidebar'
]
%}

<div class="page-layout-wrapper">

  <header role="banner" class="page-header">
    {{ page.header }}
    {{ page.mobile_menu }}
  </header>

  <main role="main" class="page-main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div {{ attributes.addClass(layout_classes) }}>
      {{ page.content }}

      {% if page.sidebar %}
      <aside role="complementary" class="sidebar" id="sidebar">
        {{ page.sidebar }}
      </aside>
      {% endif %}
    </div>{# /.main-wrapper #}
  </main>

  {% if page.footer_first or page.footer_second %}
  <footer role="contentinfo" class="page-footer">

    {% if page.footer_first %}
    <section class="footer-first-wrapper">
      {{ page.footer_first }}
    </section>
    {% endif %}

    {% if page.footer_second %}
    <section class="footer-second-wrapper">
      {{ page.footer_second }}
    </section>
    {% endif %}

  </footer>
  {% endif %}

</div>{# /.layout-page-wrapper #}
