{{ attach_library('uma_daris/button') }}

{# Presence of a url in the passed button object determines type of - https://stackoverflow.com/a/57400572  #}
{% if button.url %}
  <a href="{{ button.url }}" class="button{{ button.modifier ? ' ' ~ button.modifier }}">
    {{ button.text }}
  </a>
{% else %}
  <button class="button{{ button.modifier ? ' ' ~ button.modifier }}" {{ button.modifier == 'is-disabled' ? ' disabled' }}>
    {{ button.text }}
  </button>
{% endif %}
