<section class="text-media-sidebar text-media-sidebar--with-video">
        

<h2 class="heading text-media-sidebar__heading" >

      All Together Now
  
</h2>
    <div class="text-media-sidebar__content">
        

<figure class="media-item" >
    
      <div class="media-item__responsive-video">
      <iframe width='560' height='315' src='https://www.youtube-nocookie.com/embed/eKmbSupbOOc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
    </div>
          <figcaption class="media-item__caption">
      Example video caption.
    </figcaption>
  </figure>
  
        <div class="text-media-sidebar__paragraph-text">
      <p>While many classes could be converted to remote learning, others—like Wind Ensemble—simply couldn’t accomplish their work from a distance. With the help of outdoor tents, social distancing, and some perseverance, the class was able to make music in person. “There really is no online way to simulate the energy of people creating something together,” says Matt Westgate, ensemble conductor and director of wind studies. Of course, not every session provided gorgeous weather like the October day pictured here, but, Westgate says, “It has been a true gift to be able to make music with one another, despite the circumstances.”</p>
    </div>
  </div>
</section>