// Import site utilities.
@import '../../global/utils/init';

.text-button-sidebar {
  @include layout-content;
  @include space-between-xsm;
  @include global-typography;

  .text-button-sidebar__heading {
    @include heading-3-style;
    max-width: 600px;
    margin: 0;

    @include breakpoint($bp-md) {
      max-width: 800px;
      margin: 0;
    }
  }

  .text-button-sidebar__button {
    text-align: center;
    margin-bottom: 3.8rem;

    a.button,
    a.button:link {
      margin-right: 0;
      width: auto;
      max-width: 80%;
    }
  }

  @media screen and (min-width: 900px) {

    .text-button-sidebar__content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .text-button-sidebar__paragraph-text {
      max-width: 800px;
      width: 66.66666%;
    }

    .text-button-sidebar__button {
      width: 33.33333%;
      margin-top: 2rem;
      margin-bottom: 0;
    }
  }
}
