{#
/**
 * @file
 * Theme override for a field.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 *
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{# If the label is hidden don't add any additional markup. #}
{% if label_hidden %}
  {% if multiple %}
    <ul class="resource-list__items">
    {% for item in items %}
      <li class="resource-list__item">{{ item.content }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <ul class="resource-list__items">
    {% for item in items %}
      <li class="resource-list__item">{{ item.content }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{# If the label is shown add the default Drupal wrapping markup. #}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    <ul class="resource-list__items">
    {% for item in items %}
      <li class="resource-list__item">{{ item.content }}</li>
    {% endfor %}
    </ul>
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
