{# attach pl-only styles #}
{{ attach_library('uma_daris/icons') }}
{# new umass gateway site uses https://feathericons.com, but we're using font awesome which is still in the /brand guide #}
{% import "@uma_daris/icons/_icons-macro.twig" as icons %}

{% if items %}
  <ul class="icons">
  {% for item in items %}
    <li class="icons__item">
      <a href="{{ item.url }}" class="icons__link">
        {{ icons.get(item.icon|lower, 'icon icon-' ~ item.icon|lower) }}
        <span class="icons__name">{{ item.icon }}</span>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endif %}
