// Styling for Drupal tabs.

// Import site utilities.
@import '../../global/utils/init';

.tabs {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  position: relative;

  @media screen and (max-width: 767px) {
    max-width: 80%;
  }
}

.tabs.primary {
  padding: 0;
  margin: 2rem 0;

  &::after {

    @include breakpoint($bp-sm) {
      background-color: $color-gray-lt;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: $zi-below-ground;
    }
  }

  li {
    display: block;
    font-size: 1.6rem;
    font-weight: $font-weight-semibold;
    margin: 0 0 8px;
    padding: 0;

    @include breakpoint($bp-sm) {
      display: inline-block;
      margin: 0 8px 0 0;
    }
  }

  @include breakpoint($bp-sm) {

    li:first-child {
      margin: 0 8px;
    }
  }


  a {
    line-height: 1;
    background-color: $color-gray-xlt;
    border: 2px solid $color-gray-lt;
    color: $color-gray-dk;
    display: block;
    padding: 16px;
    text-decoration: none;

    @include breakpoint($bp-sm) {
      border-bottom: 2px solid $color-gray-lt;
      padding: 8px 24px;
    }
  }

  a:hover {
    background-color: lighten($color-gold, 42%);
    border: 2px solid $color-gray-lt;
    text-decoration: underline;
    color: $color-black;
  }

  li:focus {
    outline: 0 solid $color-gold;
  }

  a:focus {
    outline: 3px solid $color-gold;
  }

  .is-active a {
    background-color: $color-white;
    border-bottom: 2px solid $color-white;
    text-decoration: none;
    color: $color-black;

    @include breakpoint($bp-under-sm) {
      border-bottom: 2px solid $color-gray-lt;
    }
  }
}

.tabs.secondary {
  margin-top: 10px;

  li {
    display: inline-block;
    font-size: 1.6rem;
    margin: 8px 16px 4px 0;
  }

  a {
    line-height: 1;
    background-color: transparent;
    border-bottom: 2px solid $color-gray-lt;
    color: $color-gray-mid;
    display: block;
    padding: 8px 12px 4px;
  }

  .is-active a,
  a:focus,
  a:hover {
    background-color: transparent;
    border-color: $color-black;
    color: $color-black;
    text-decoration: none;
  }
}

.tabs__local-actions {
  padding: 16px 0;
}

.tabs__local-actions-links {
  margin: 0;
}
