{{ attach_library('uma_daris/tabs') }}

{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="tabs primary">
    {% block primary %}
      {% for tab in tabs %}
        {# NOTE: because this is tab in tabs, tab. was needed below for true to be detected from the json file; this expression checks to see if is_active is set to true for each #}
        <li class="{{tab.is_active ? 'is-active'}}">
          <a href="{{ tab.link }}">{{ tab.text }}</a>
        </li>
      {% endfor %}
    {% endblock primary %}
  </ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="tabs secondary">
    {% block secondary %}
      {% for tab in tabs %}
        <li class="{{tab.is_active ? 'is-active'}}">
          <a href="{{ tab.link }}">{{ tab.text }}</a>
        </li>
      {% endfor %}
    {% endblock secondary %}
  </ul>
{% endif %}
