{{ attach_library('uma_daris/resource-list') }}

<section class="resource-list{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
  {% if heading %}
    {%
      include '@uma_daris/heading-twolines/heading-twolines.twig' with {
        "heading": heading
      } only
    %}
  {% endif %}
  {# <ul class="resource-list__items"> #}
    {% block resource_items %}
      {#
        This for loop is only used to display the resource list
        in Pattern Lab. Drupal will override this twig block.
        See paragraph--resource-list.html.twig for more info.
      #}
      <ul class="resource-list__items">
      {% for item in items %}
        <li class="resource-list__item">
          {%
            include '@uma_daris/resource/resource.twig' with {
              "items": item.items,
              "description": item.description,
              "link": item.link,
              "summary_text": item.summary_text,
              "modifier": "resource-list__item"
            } only
          %}
        </li>
      {% endfor %}
      </ul>
    {% endblock %}
  {# </ul> #}
</section>
