// Messages
//
// The messages component is mostly a duplicate of the Classy theme
// styled system messages. There are slight modifiers added to give
// more flexibility.

// Import site utilities.
@import '../../global/utils/init';

.message {
  background: no-repeat 15px 21px;
  border: 3px solid;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 2.4rem 0;

  @include breakpoint($bp-sm) {
    margin: 2.8rem 0;
  }
}

.message__heading {
  @include element-invisible;
}

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message__item + .message__item {
  margin-top: 12px;
}

// See .color-success in Seven's colors.css.
.message--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #77b259;
  background-image: url('../images/check.svg');

  a,
  a:link {
    color: #325e1c;
    text-decoration: underline;
  }

  a:visited {
    color: #325e1c;
  }

  a:hover {
    color: $color-black;
    text-decoration: underline;
  }

  a:active {
    color: $color-gray-dk;
    text-decoration: none;
  }

  a:focus {
    outline: 3px solid $color-gold;
    text-decoration: underline;
  }
}

// See .color-warning in Seven's colors.css.
.message--warning {
  background-color: #fdf8ed;
  background-image: url('../images/warning.svg');
  border-color: #e09600;
  color: #734c00;

  a,
  a:link {
    color: #734c00;
    text-decoration: underline;
  }

  a:visited {
    color: #734c00;
  }

  a:hover {
    color: $color-black;
    text-decoration: underline;
  }

  a:active {
    color: $color-gray-dk;
    text-decoration: none;
  }

  a:focus {
    outline: 3px solid $color-gold;
    text-decoration: underline;
  }
}

// See .color-error in Seven's colors.css.
.message--error {
  background-color: lighten($color-red, 55%);
  color: $color-red;
  background-image: url('../images/error.svg');
  border-color: $color-red;

  a,
  a:link {
    color: $color-red;
    text-decoration: underline;
  }

  a:visited {
    color: $color-red;
  }

  a:hover {
    color: $color-black;
    text-decoration: underline;
  }

  a:active {
    color: $color-gray-dk;
    text-decoration: none;
  }

  a:focus {
    outline: 3px solid $color-gold;
    text-decoration: underline;
  }
}
