<article class="card">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/OldChapel_690x460_opt3_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>Annual Giving</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span>UMass Magazine</span>
            </span>
    </li>
  </ul>
          
          
      

<h4 class="heading card__heading" >

      <a href="#" class="heading__link">What's the plan?</a>
  
</h4>
      
    
          <div class="card__summary">
        <p>Get your first look at the Spring 2021 semester reopening.</p>
      </div>
    
  </div>

</article>