<article class="accordion">

  
  

  <button type="button" class="accordion__toggle" aria-controls="accordion__content-1" aria-expanded="false" id="accordion__toggle-1" aria-selected="false">
    <h3 class="accordion__heading">
      What is the best way to submit a request for Marketing & Communications (MarCom) support?
    </h3>
      <svg aria-hidden="true" role="img" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><title>caret down</title><!-- Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path fill="#881c1c" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>

  </button>
  <div class="accordion__content" id="accordion__content-1" aria-hidden="true" aria-labelledby="accordion__content-1">
          <p>Please use the <a href="#">Project Request form</a> to request:</p> <ul> <li>design, content development, or general marketing assistance</li> <li>email marketing lists, email creation, or broadcast dates</li> <li>Tableau reporting</li> </ul> <p>If you’re not certain of your project needs, you may also contact us at <a href="#">test@umass.edu</a>.</p>
      </div>
</article>