{{ attach_library('uma_daris/accordion-item') }}

{% import '@uma_daris/icons/_icons-macro.twig' as icons %}

<article class="accordion{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>

  {{ title_prefix }}
  {{ title_suffix }}

  <button type="button" class="accordion__toggle" aria-controls="accordion__content-{{ accordion_instance }}" aria-expanded="false" id="accordion__toggle-{{ accordion_instance }}" aria-selected="false">
    <h3 class="accordion__heading">
      {{ heading }}
    </h3>
    {{ icons.get('caret-down'|lower) }}
  </button>
  <div class="accordion__content" id="accordion__content-{{ accordion_instance }}" aria-hidden="true" aria-labelledby="accordion__content-{{ accordion_instance }}">
    {% block accordion_content %}
      {{ content }}
    {% endblock %}
  </div>
</article>
