{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% embed "@uma_daris/tabs/tabs.twig" with {
  primary: primary,
  secondary: secondary
} only %}
  {% block primary %}
    {{ primary }}
  {% endblock %}
  {% block secondary %}
    {{ secondary }}
  {% endblock %}
{% endembed %}
