// Import site utilities.
@import '../../global/utils/init';

// duplicated and also used for menu blocks in sidr
// see global/sidr style sheet
.sidebar-menu-block {
  margin: 3rem 0;

  @include breakpoint ($bp-under-xsm) {
    margin: 2rem 0;
  }

  @include breakpoint ($bp-under-xxsm) {
    margin: 1.5rem 0;
  }

  h2 {
    @include heading-5-style;
    color: $color-black;
    margin-bottom: 0.5rem;

    @include breakpoint ($bp-md) {
      margin-bottom: 0.7rem;
    }
  }

  ul.menu {
    list-style: none;
    margin: 0;
    margin-left: 1.5rem;

    @include breakpoint ($bp-md) {
      margin-left: 1.8rem;
    }

    li {
      margin-bottom: 0.5rem;

      @include breakpoint($bp-md) {
        margin-bottom: 0.8rem;
      }
    }

    a {
      display: block;
      line-height: 2rem;

      @include breakpoint ($bp-md) {
        line-height: 2.2rem;
      }

      &,
      &:link,
      &:visited {
        color: $color-black;
        text-decoration: none;
      }

      &:hover {
        color: $color-umass-maroon;
        text-decoration: underline;
      }

      &:active {
        color: $color-black;
        text-decoration: underline;
      }
    }
  }
}
