// Fonts generated using:
// https://www.fontsquirrel.com/tools/webfont-generator
//
// For more information on font-face and browser support visit:
// https://css-tricks.com/snippets/css/using-font-face/

// Open Sans light (300), regular (400), semi-bold (600), bold (700), extra-bold (800)
// https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=latin

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-300.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-300.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-300.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-300.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-300.svg#OpenSans') format('svg');
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-300italic.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-300italic.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-300italic.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-300italic.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-300italic.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-300italic.svg#OpenSans') format('svg');
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-regular.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-regular.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-regular.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg');
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-italic.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-italic.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-italic.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-italic.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-italic.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-italic.svg#OpenSans') format('svg');
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-600.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-600.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-600.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-600.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-600.svg#OpenSans') format('svg');
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-600italic.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-600italic.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-600italic.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-600italic.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-600italic.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-600italic.svg#OpenSans') format('svg');
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-700.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-700.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-700.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-700.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg');
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-700italic.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-700italic.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-700italic.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-700italic.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-700italic.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-700italic.svg#OpenSans') format('svg');
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-800.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-800.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-800.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-800.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-800.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-800.svg#OpenSans') format('svg');
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  // The browser will hide the text for about 100ms and, if the font has not yet
  // been downloaded, will use the fallback text. It will swap to the new font
  // after it is downloaded, but only during a short swap period
  // https://css-tricks.com/almanac/properties/f/font-display/
  font-display: fallback;
  src: url('../../dist/fonts/open-sans-v18-latin-800italic.eot');
  src:
    local(''),
    url('../../dist/fonts/open-sans-v18-latin-800italic.eot?#iefix') format('embedded-opentype'),
    url('../../dist/fonts/open-sans-v18-latin-800italic.woff2') format('woff2'),
    url('../../dist/fonts/open-sans-v18-latin-800italic.woff') format('woff'),
    url('../../dist/fonts/open-sans-v18-latin-800italic.ttf') format('truetype'),
    url('../../dist/fonts/open-sans-v18-latin-800italic.svg#OpenSans') format('svg');
}
