<ul class="tags">
      <li class="tag__item">
      <span>
              <span>Constituent Programs</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span>Principle Gifts</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span>University Relations</span>
            </span>
    </li>
  </ul>