// Import site utilities.
@import '../../global/utils/init';

.resource-list--background-gray-lt {
  background-color: $color-gray-lt;
  padding: 5rem 4rem 4rem;
}

.resource-list {
  @include space-between-sm;

  .heading-twolines {
    @include heading-3-style;
  }

  .resource-list__items {
    padding-top: 1.45rem;
    column-count: 2;
    column-width: 250px;//acts as min-width
    column-gap: 1.5rem;

    .resource-list__item {
      padding: 0.3rem 0;
      list-style-type: none;
      display: inline-block;
      width: 100%;

      a.resource-list__link {
        display: block;
        line-height: 1;
        padding: 0.5rem 0;
        hyphens: none;
      }
    }
  }
}

.resource-list--views-grouped {
  @include layout-content;

  .views-group-heading {
    line-height: 1.5;
    border-bottom: 1px solid $color-gray-mid;
  }

  .resource-list__items {
    column-count: 3;
    padding-bottom: 4rem;
  }
}
