@import '../../global/utils/init';

// Header styles
// Superfish styles are in the superfish global style sheet

.page-header {

  .region-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    .block-sidr-trigger,
    .block-umass-site-branding {
      padding: 3.6rem 0 1.5rem;
    }

    #block-mainnavigation {
      width: auto;
      padding: 3.6rem 0;
      margin: 0;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .region-mobile-menu {
    display: none;//replicated to .sidr div
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {

  .page-header .region-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    .block-umass-site-branding {
      padding: 3.6rem 0 1.5rem;
    }

    #block-mainnavigation {
      margin-left: -1.6rem;
      padding: 0;
    }
  }
}

@media screen and (min-width: 921px) {

  .page-header .region-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .block-umass-site-branding,
    #block-mainnavigation {
      padding: 3.6rem 0;
    }
  }
}

body.page-node-196 article {

  @include layout-content;

  @media screen and (min-width: 768px) and (max-width: 920px) {
    padding-top: 4.5rem;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: stretch;

    section:nth-child(2) {
      flex-grow: 0;
      max-width: 275px;
    }

    section:nth-child(3) {
      border-left: 1px solid $color-black;
      flex-grow: 1;
      max-width: 600px;
    }

    .text-button-sidebar {
      width: auto;
      margin: 0;

      .text-button-sidebar__content {
        display: block;
      }

      .text-button-sidebar__paragraph-text {
        width: auto;
      }

      .text-button-sidebar__button {
        width: auto;
        text-align: left;
      }
    }
  }

  .text-button-sidebar__heading {
    font-size: 3rem;
    text-transform: uppercase;
  }

  .text-button-sidebar .text-button-sidebar__button {
    text-align: left;
  }

  section:nth-child(3) {

    a.button {

      &,
      &:link {
        background-color: $color-gray-ada-lg;
        color: $color-white;
      }

      &:hover,
      &:active {
        background-color: darken($color-gray-ada-lg, 15%);
        color: $color-white;
      }

      &:visited {
        color: $color-white;
      }

      &:focus {
        outline: 3px solid $color-gold;
      }
    }
  }
}

body.page-node-196 article,
body.page-node-197 article {

  section.page-title-image {
    @include element-invisible;
  }
}

// Footer first styles
.footer-first-wrapper {
  background-color: $color-gray-lt;
  color: $color-black;// Overriding color from global

  // Overriding more colors from global

  hr,
  .hr {
    border-color: $color-black;
  }

  p,
  ul,
  ol,
  pre,
  table,
  blockquote {
    color: $color-black;
  }

  // Link overrides from global.css
  a:visited {
    color: $color-umass-maroon;
  }

  a:hover {
    color: $color-black;
  }

  a:active {
    color: darken($color-gold, 18%);// gives 4.63:1 contrast ratio
  }

  a:focus {
    outline: 3px solid darken($color-gold, 9%);// #e9e9e9 is 9% darker than white
  }
}

// Footer second styles
.footer-second-wrapper {
  background-color: $color-black;
  color: $color-white;

  // Link overrides from global.css
  a,
  a:link {
    color: $color-white;
  }

  a:visited {
    color: $color-white;
  }

  a:hover {
    color: lighten($color-gold, 20%);
  }

  a:active {
    color: lighten($color-gold, 20%);
  }

  a:focus {
    outline: 3px solid lighten($color-gold, 20%);
  }
}
