{{ attach_library('uma_daris/card-list') }}

<section class="card-list{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
  {% if heading %}
    {%
      include '@uma_daris/heading-twolines/heading-twolines.twig' with {
        "heading": heading
      } only
    %}
  {% endif %}
  <ul class="card-list__items">
    {% block card_items %}
      {#
        This for loop is only used to display the card list
        in Pattern Lab. Drupal will override this twig block.
        See paragraph--card-list.html.twig for more info.
      #}
      {% for item in items %}
        <li class="card-list__item">
          {%
            include '@uma_daris/card/card.twig' with {
              "image": item.image,
              "tags": item.tags,
              "heading": item.heading,
              "summary_text": item.summary_text,
              "modifier": item.modifier ~ " card-list__item"
            } only
          %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>

  {% block attachment_items %}
    {% for item in items %}
      <li class="card-list__item card-list__item--attachments">
        {%
          include '@uma_daris/card/card.twig' with {
            "image": item.image,
            "tags": item.tags,
            "heading": item.heading,
            "summary_text": item.summary_text,
            "modifier": item.modifier ~ " card-list__item"
          } only
        %}
      </li>
    {% endfor %}
  {% endblock %}

  {% block more_button %}
  {% if button %}
  <div class="card-list__more-button">
    {%
      include '@uma_daris/button/button.twig' with {
        "button": button
      } only
    %}
  </div>
  {% endif %}
  {% endblock %}
</section>
