{{ attach_library('uma_daris/resource') }}
{% import '@uma_daris/icons/_icons-macro.twig' as icons %}

<article class="resource{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="resource__download">
    <a href="{{ link }}" class="resource__link">
      {% for item in items %}
        {{ icons.get(item.icon_filename|lower, 'resource__icon') }}
        <span class="resource__icon-name">{{ item.icon_label }}</span>
      {% endfor %}
      <span class="resource__description">{{ description }}</span>
    </a>
  </div>

  {% if summary_text %}
    <div class="resource__summary">
      {{ summary_text }}
    </div>
  {% endif %}

</article>
