@import '../../global/utils/init';

// Prevents long words and URLs from breaking out of the page, especially on mobile
.block-block-content {
  overflow: hidden;
}

.block--basic {
  max-width: 900px;
  margin: 0 auto;
}

.block--embed-block,
.region-content .block--basic {

  .heading {
    margin-bottom: 1.8rem;
    @include breakpoint ($bp-md) {
      margin-bottom: 2.6rem;
    }
  }
}

.region-content .block--basic--faq {
  padding: 5rem 4rem;
  background-color: $color-gray-lt;
}

.block--basic--faq {

  .faq__question.heading-5-style {
    margin-top: 1.8rem;
    @include breakpoint ($bp-md) {
      margin-top: 2.6rem;
    }
  }
}

// Block heading, for any block type
// Embed block (custom type) script field
.main-wrapper.no-sidebar .block--embed-block {

  .heading,
  .embed-block__script {
    @include layout-content;
    max-width: 1470px;
  }

  .heading {
    margin-bottom: 1.8rem;
    @include breakpoint ($bp-md) {
      margin-bottom: 2.6rem;
    }
  }

  .embed-block__script {
    @include space-between-sm;
  }
}

.main-wrapper .social-feed.block--embed-block {
  @include layout-content;

  .embed-block__script {
    margin-bottom: 0;

    @include breakpoint ($bp-lg) {
      margin-bottom: 0;
    }
  }

  .crt-load-more-container {
    @include element-invisible;
  }
}

.block-cta-text-button {

  & .block-cta-text-button__cta-text {
    max-width: 900px;

    p {
      font-size: 1.8rem;
      line-height: 2.8rem;
      font-weight: $font-weight-semibold;
      color: $color-black;

      @include breakpoint($bp-sm) {
        font-size: 2.4rem;
        line-height: 3.4rem;
      }

      @include breakpoint($bp-md) {
        font-size: 3rem;
        line-height: 4.2rem;
      }
    }

    a:visited {
      color: $color-umass-maroon;
    }

    a:hover {
      color: $color-black;
      text-decoration: underline;
    }

    a:active {
      color: darken($color-gold, 18%);// gives 4.63:1 contrast ratio
      text-decoration: none;
    }
  }

  &.block-cta-text-button--without-button .block-cta-text-button__content {
    display: flex;
    justify-content: center;
  }

  &.block-cta-text-button--with-button .block-cta-text-button__content {
    @include breakpoint ($bp-sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &.block-cta-text-button--with-button .block-cta-text-button__cta-text {
    margin-right: 3.5rem;

    @include breakpoint ($bp-under-sm) {
      padding-bottom: 2rem;
      margin-right: 0;
    }
  }

  &.block-cta-text-button--with-button .block-cta-text-button__cta-btn {
    text-align: center;
  }
}

.block--footer-second-info {
  background-color: $color-gray-dk;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .block--footer-second-info__content {
    width: 100%;
    max-width: 850px;
    padding: 2.4rem 1.5rem 1.9rem;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($bp-sm) {
      padding: 4rem 3.5rem 1.9rem;
    }
  }

  .block-cta-text-button__cta-text {

    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: $font-weight-semibold;
      color: $color-white;

      @include breakpoint($bp-sm) {
        font-size: 2rem;
        line-height: 3rem;
      }

      @include breakpoint($bp-md) {
        font-size: 2.4rem;
        line-height: 3.6rem;
      }
    }
  }
}

.block-facet--checkbox {
  padding-bottom: 3rem;

  li {
    list-style: none;
    margin: 1rem 0;
  }
}
