@import '../../global/utils/init';

.links-menu {
  padding: 2.5rem 0 2rem;
  column-count: 2;
  column-width: 210px;//acts as min-width
  column-gap: 3rem;

  .links-menu__item {
    list-style-type: none;
    display: inline-block;
    width: 100%;

    .links-menu__link {
      display: block;
      line-height: 1;
      transition: color 0.3s ease-in-out;
      padding: 1.8rem 2rem 1.8rem 0;
      background-image: url('../images/caret-right-white.svg');
      background-repeat: no-repeat;
      background-position-x: 98%;
      background-position-y: center;
      background-size: 0.5rem;
      hyphens: none;
    }

    a,
    a:link,
    a:visited {
      color: $color-white;
      text-decoration: none;
      border-bottom: 1px solid $color-gray-mid;
      text-transform: uppercase;
      font-weight: bold;
    }

    a:hover,
    a:active {
      color: lighten($color-gold, 20%);
      text-decoration: none;
      border-bottom: 1px solid lighten($color-gold, 20%);
      background-image: url('../images/caret-right-gold.svg');
    }

    a:focus {
      color: $color-white;
      text-decoration: none;
      border-bottom: 1px solid $color-gray-mid;
      outline: 3px solid lighten($color-gold, 20%);
      outline-offset: -3px;
    }
  }
}

//this modifier is not integrated with the Drupal template, but could be along with changes to the above styles if we wanted multiple color schemes (dark background, light gray background, white background, etc.). This one style makes the component look like what we use in the secondary footer with the dark background image behind it.
.pl-js-pattern-example .links-menu--background-gray-dk {
  background-color: $color-gray-dk;
  padding: 2.5rem;
}
