@import '../../global/utils/init';

.social-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .social-menu__item {
    list-style-type: none;
    margin: 1.25rem;

    @include breakpoint($bp-sm) {
      margin: 2rem;
    }

    .social-menu__link {
      display: block;
      transition: color 0.3s ease-in-out;
    }

    .icon {
      width: 3.5rem;
      display: block;

      @include breakpoint($bp-sm) {
        width: 4rem;
      }
    }
  }

  .social-menu__name {
    @include element-invisible;
  }
}
