{{ attach_library('uma_daris/social-menu') }}
{% import '@uma_daris/icons/_icons-macro.twig' as icons %}

{% if items %}
<ul class="social-menu">
{% for item in items %}
  <li class="social-menu__item">
    <a href="{{ item.url }}" class="social-menu__link">
      {{ icons.get(item.title|lower, 'icon icon-' ~ item.title|lower) }}
      <span class="social-menu__name">{{ item.title }}</span>
    </a>
  </li>
{% endfor %}
</ul>
{% endif %}
