// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// UMass. - colors taken from UMass Web Style Guide 2021
$color-umass-maroon: #881c1c;

// Standard.
$color-black: #151515;
$color-white: #fff;

// UMass grays.
$color-gray-dk: #4a4a4a;
$color-gray-ada: #575757;//AAA for normal white text
$color-gray-ada-lg: #757575;//AAA for large/bold white text
$color-gray-ada-ui: #949494;//AA for graphical objects and ui components
$color-gray-mid: #ccc;
$color-gray-lt: #e9e9e9;
$color-gray-xlt: #f8f8f8;

// UMass secondary colors
$color-gold: #a89968;
$color-red: #d50032;
$color-yellow: #ffc721;

// Primary.
$color-mandy: #ec5f67;
$color-tan-hide: #f99157;
$color-saffron-mango: #fac863;
$color-de-york: #99c794;
$color-tradewind: #5fb3b3;
$color-danube: #69c;
