{#
/**
 * @file
 * Theme override to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 */
#}

{% set rendered_content = content|render %}

{% set heading_array = {
  heading_level: "1",
  modifier: "media-entity__heading",
  title: name|render|trim is not empty ? name,
  url: ''
}
%}

{# note space in front of media #}
{%
  set classes = [
    ' media',
    'media--type--remote-video-resource',
    'media--view-mode--full'
  ]
%}

{# mapping fields in the patternlab component to the fields in the media type #}
{%
  include "@uma_daris/media-entity/media-entity.twig" with {
    attributes: attributes.addClass(classes),
    video: content.field_media_oembed_video_2,
    caption: content.field_caption|render|trim is not empty ? content.field_caption,
    heading: heading_array,
    summary_text: content.field_summary|render|trim is not empty ? content.field_summary,
    modifier: ''
  } only
%}
