{#
/**
 * @file
 * Theme override to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 */
#}

{# this is the presenter template that maps the data from drupal to components -- just passing data #}
{% set rendered_content = content|render %}

{# setup variable items with mapping of icon properties from term ref field with object properties (key:value pairs) to field values -- this variable can be anything you like #}

{% set icon_label_value = content.field_resource_icon['#items'].entity.label %}

{% set icon_filename_value = content.field_resource_icon['#items'].entity.field_icon_name.value %}

{% set link_url = '/advancement/media/' ~ media.id() ~ '/download' %}

{# mapping fields in the resource component to the fields in the document-private media type #}
{%
  include "@uma_daris/resource/resource.twig" with {
    attributes: attributes.addClass(classes),
    title_prefix: title_prefix,
    title_suffix: title_suffix,
    items: [
      {
        icon_label: icon_label_value,
        icon_filename: icon_filename_value
      }
    ],
    description: content.field_resource_linktext_private,
    link: link_url,
    summary_text: content.field_summary_private,
    modifier: ''
  } only
%}
