<div class="paragraph--type--text-pub">
  <h1>h1. Horizon heading heading heading heading heading heading heading heading heading heading</h1>
  <h2>h2. Horizon heading heading heading heading heading heading heading heading heading heading</h2>
  <h3>h3. Horizon heading heading heading heading heading heading heading heading heading heading</h3>
  <h4>h4. Horizon heading heading heading heading heading heading heading heading heading heading</h4>
  <h5>h5. Horizon heading heading heading heading heading heading heading heading heading heading</h5>
  <h6>h6. Horizon heading heading heading heading heading heading heading heading heading heading</h6>
</div>