// Buttons
//
// This is the button component. It provides basic styles for buttons throughout the site.

// Import site utilities.
@import '../../global/utils/init';

button.button,
a.button,
.footer-first-wrapper button.button,
.footer-first-wrapper a.button {

  &,
  &:link {
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-umass-maroon;
    color: $color-white;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: $font-weight-extrabold;
    width: min-content;// not supported in IE11 (so buttons will be a little wider): https://caniuse.com/?search=width%3A%20min-content
    min-width: 17rem;// adopted from gateway styles
    padding: 1.4rem;// btn styles changed with the launch of the gateway site
    text-align: center;
    transition: background-color $transition, color $transition;
  }

  &:hover,
  &:active {
    background-color: darken($color-umass-maroon, 9%);
    color: $color-white;
  }

  &:visited {
    color: $color-white;
  }

  &:focus {
    outline: 3px solid $color-gold;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

// NOTE: Do we need this modified set of styles?
button.button--primary,
a.button--primary,
.footer-first-wrapper button.button--primary,
.footer-first-wrapper a.button--primary {
  background-color: $color-white;
  border: 3px solid $color-umass-maroon;
  color: $color-umass-maroon;
  text-decoration: none;
  padding: 1.2rem;// subtracted the extra 2px of border

  &:hover,
  &:active {
    background-color: darken($color-umass-maroon, 9%);
    border: 3px solid darken($color-umass-maroon, 9%);
    color: $color-white;
    text-decoration: none;
  }
}
