// Import site utilities.
@import '../../global/utils/init';

// library attached in views-mini-pager.html.twig
nav ul.js-pager__items {
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  li {
    list-style: none;

    a,
    a:link,
    a:visited {
      font-size: 2rem;
      font-weight: 800;
      padding: 1rem;
      color: $color-umass-maroon;
    }

    a:hover {
      color: $color-black;
    }
  }
}
