<section style="background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('/advancement/themes/custom/uma_daris/dist/images/2016_Spring_Campus_0621_1_EDITED_bw.jpg')" class="page-summary-image page-summary-image--with-button">

  <div class="page-summary-image__content">

          <div class="page-summary-image__summary-text">
        <p>At UMass Amherst, philanthropy drives innovation. And, as we continue to rise as a national leader in research and scientific discovery, continuous funding is even more important. In Advancement, we recognize that a big factor of our donor support is getting them excited and involved. We reach out to students, alumni, and friends—providing them opportunities to connect, sharing inspiring stories, and offering creative ways they can give back—all while boosting their UMass pride.</p>
      </div>
    
        <div class="page-summary-image__summary-button">
      

  <a href="#" class="button">
    Let's&nbsp;Work Together
  </a>
    </div>
  
  </div>
</section>