{{ attach_library('uma_daris/page-summary-image') }}

<section style="background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('{{- image ? image -}}')" class="page-summary-image{{ modifier ? ' ' ~ modifier }}{{- attributes ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>

  <div class="page-summary-image__content">

    {% if summary_text %}
      <div class="page-summary-image__summary-text">
        <p>{{ summary_text }}</p>
      </div>
    {% endif %}

    {% if button.text %}
    <div class="page-summary-image__summary-button">
      {%
        include '@uma_daris/button/button.twig' with {
          "button": button
        } only
      %}
    </div>
  {% endif %}

  </div>
</section>
