{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('uma_daris/block-layout') }}
{%
  set classes = [
    'block',
    'block--footer-second-info',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class
  ]
%}

{# get uri to image if one is present #}
{% set image_uri = content.field_image['#items']|file_uri %}

{% if content %}
<section style="background-image: linear-gradient( rgba(31, 31, 31, 0.85), rgba(31, 31, 31, 0.85)), url('{{ image_uri|image_style('page_summary_m') }}')"{{ attributes.addClass(classes) }}>
{{ title_prefix }}
<div class="block--footer-second-info__content">
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
{{ title_suffix }}
</section>
{% endif %}
