<h1 id=test class="heading-twolines" >

  
        <span class="heading-twolines__line-1">Advancing the</span>
    
        <span class="heading-twolines__line-2">Revolutionary Spirit</span>
    
  
</h1>