// Import site utilities.
@import '../../global/utils/init';

.media-entity {

  .media-entity__heading {
    @include heading-3-style;
    max-width: 800px;
    margin: 0;

    @include breakpoint($bp-md) {
      max-width: 800px;
      margin: 0;
    }
  }

  .media-entity__content {
    @include global-typography;

    .media-item {
      margin: 1.4rem 0 2rem;
      width: 100%;

      @include breakpoint ($bp-sm) {
        margin: 1.4rem 0 2rem;
        width: 100%;
      }
    }
  }
}
