.message {
  background: no-repeat 15px 21px;
  border: 3px solid;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 2.4rem 0; }
  @media screen and (min-width: 768px) {
    .message {
      margin: 2.8rem 0; } }

.message__heading {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.message__item + .message__item {
  margin-top: 12px; }

.message--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #77b259;
  background-image: url("../images/check.svg"); }
  .message--status a,
  .message--status a:link {
    color: #325e1c;
    text-decoration: underline; }
  .message--status a:visited {
    color: #325e1c; }
  .message--status a:hover {
    color: #151515;
    text-decoration: underline; }
  .message--status a:active {
    color: #4a4a4a;
    text-decoration: none; }
  .message--status a:focus {
    outline: 3px solid #a89968;
    text-decoration: underline; }

.message--warning {
  background-color: #fdf8ed;
  background-image: url("../images/warning.svg");
  border-color: #e09600;
  color: #734c00; }
  .message--warning a,
  .message--warning a:link {
    color: #734c00;
    text-decoration: underline; }
  .message--warning a:visited {
    color: #734c00; }
  .message--warning a:hover {
    color: #151515;
    text-decoration: underline; }
  .message--warning a:active {
    color: #4a4a4a;
    text-decoration: none; }
  .message--warning a:focus {
    outline: 3px solid #a89968;
    text-decoration: underline; }

.message--error {
  background-color: #ffeff2;
  color: #d50032;
  background-image: url("../images/error.svg");
  border-color: #d50032; }
  .message--error a,
  .message--error a:link {
    color: #d50032;
    text-decoration: underline; }
  .message--error a:visited {
    color: #d50032; }
  .message--error a:hover {
    color: #151515;
    text-decoration: underline; }
  .message--error a:active {
    color: #4a4a4a;
    text-decoration: none; }
  .message--error a:focus {
    outline: 3px solid #a89968;
    text-decoration: underline; }
