nav ul.js-pager__items {
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  nav ul.js-pager__items li {
    list-style: none; }
    nav ul.js-pager__items li a,
    nav ul.js-pager__items li a:link,
    nav ul.js-pager__items li a:visited {
      font-size: 2rem;
      font-weight: 800;
      padding: 1rem;
      color: #881c1c; }
    nav ul.js-pager__items li a:hover {
      color: #151515; }
