.page-layout-wrapper {
  overflow: hidden; }

.region-header {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  @media screen and (min-width: 768px) {
    .region-header {
      padding: 0 3.5rem; } }

@media screen and (max-width: 767px) {
  .main-wrapper .sidebar {
    display: none; } }

.main-wrapper.no-sidebar .region-content,
.main-wrapper.no-sidebar .paragraph--type--text-pub,
.node--type-directory-entry .main-wrapper.no-sidebar .region-content,
.path-directory .main-wrapper.no-sidebar .region-content {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .main-wrapper.no-sidebar .region-content,
    .main-wrapper.no-sidebar .paragraph--type--text-pub,
    .node--type-directory-entry .main-wrapper.no-sidebar .region-content,
    .path-directory .main-wrapper.no-sidebar .region-content {
      padding: 0 3.5rem; } }

.node--type-unit-page .main-wrapper.no-sidebar .region-content {
  width: 100%;
  max-width: 970px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .node--type-unit-page .main-wrapper.no-sidebar .region-content {
      padding: 0 3.5rem; } }

.node--type-public-page .main-wrapper.no-sidebar #block-uma-daris-local-tasks,
.node--type-public-page .main-wrapper.no-sidebar .system-messages-block-wrapper,
.node--type-public-page .main-wrapper.no-sidebar .block-local-actions-block {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .node--type-public-page .main-wrapper.no-sidebar #block-uma-daris-local-tasks,
    .node--type-public-page .main-wrapper.no-sidebar .system-messages-block-wrapper,
    .node--type-public-page .main-wrapper.no-sidebar .block-local-actions-block {
      padding: 0 3.5rem; } }

.node--type-public-page .main-wrapper.no-sidebar .region-content {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%; }

.main-wrapper.no-sidebar #block-uma-daris-local-tasks,
.main-wrapper.no-sidebar .system-messages-block-wrapper {
  margin-top: 0;
  margin-bottom: 0; }

.main-wrapper.sidebar-layout {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .main-wrapper.sidebar-layout {
      padding: 0 3.5rem; } }
  @media screen and (min-width: 768px) {
    .main-wrapper.sidebar-layout {
      flex-direction: row; } }
  .main-wrapper.sidebar-layout .region-content {
    flex: 3;
    padding: 0; }
  .main-wrapper.sidebar-layout .sidebar {
    flex: 1; }
    @media screen and (min-width: 768px) {
      .main-wrapper.sidebar-layout .sidebar {
        max-width: 300px;
        min-width: 250px;
        padding: 0 0 0 3.5rem; } }

@media screen and (min-width: 768px) {
  .path-search .main-wrapper.sidebar-layout {
    flex-direction: row-reverse; } }

@media screen and (min-width: 768px) {
  .path-search .main-wrapper.sidebar-layout .sidebar {
    padding: 0 3.5rem 0 0; } }

.page-footer {
  margin-top: 5rem; }

.region-footer-first {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem; }
  @media screen and (min-width: 768px) {
    .region-footer-first {
      padding: 0 3.5rem; } }
  @media screen and (min-width: 768px) {
    .region-footer-first {
      padding-top: 4.2rem;
      padding-bottom: 4.2rem; } }
