.resource .resource__icon {
  max-width: 2.5rem;
  padding-right: 0.2rem;
  margin-bottom: -0.5rem; }

.resource a.resource__link {
  padding: 1rem 0;
  color: #4a4a4a;
  text-decoration: none; }

.resource a .resource__icon,
.resource a:link .resource__icon,
.resource a:visited .resource__icon {
  color: #881c1c;
  text-decoration: none;
  transition: color 0.3s ease-in-out; }

.resource a:hover .resource__icon {
  color: #151515;
  text-decoration: none; }

.resource a:active .resource__icon {
  color: #575757;
  text-decoration: none; }

.resource a .resource__description,
.resource a:link .resource__description,
.resource a:visited .resource__description {
  color: #4a4a4a;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: 600; }

.resource a:hover .resource__description {
  color: #151515;
  text-decoration: underline; }

.resource a:active .resource__description {
  color: #575757;
  text-decoration: none; }

.resource .resource__icon-name {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.resource .resource__summary h1 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }

.resource .resource__summary h2 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.resource .resource__summary h3 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.resource .resource__summary h4 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.resource .resource__summary h5 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.resource .resource__summary h6 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.resource .resource__summary p,
.resource .resource__summary ul,
.resource .resource__summary ol,
.resource .resource__summary pre,
.resource .resource__summary table,
.resource .resource__summary blockquote {
  margin-top: 1rem;
  margin-bottom: 2.4rem; }

.resource .resource__summary p.margin-bottom-none {
  margin-bottom: 0; }

.resource .resource__summary li {
  margin: 0.4rem 0;
  line-height: 1.375; }

.resource .resource__summary ul,
.resource .resource__summary ol {
  list-style-position: outside;
  margin-left: 4ch; }

.resource .resource__summary ul ::marker,
.resource .resource__summary ol ::marker {
  color: #881c1c;
  font-weight: 600; }

.resource .resource__summary ul ul,
.resource .resource__summary ol ol,
.resource .resource__summary ul ol,
.resource .resource__summary ol ul {
  margin-top: 0;
  margin-bottom: 0; }

.resource .resource__summary ul.three-columns {
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-width: 210px;
  column-width: 210px;
  -moz-column-gap: 3rem;
  column-gap: 3rem; }
  .resource .resource__summary ul.three-columns li {
    width: 100%; }
    .resource .resource__summary ul.three-columns li a {
      display: block;
      line-height: 1.375; }

.resource .resource__summary p + h5,
.resource .resource__summary p + h6,
.resource .resource__summary h2 + h3,
.resource .resource__summary h3 + h4,
.resource .resource__summary h4 + h5,
.resource .resource__summary h5 + h6 {
  margin-top: 0; }

.resource .resource__summary div > h5:first-child,
.resource .resource__summary div > h6:first-child {
  margin-top: 1rem; }

@media screen and (min-width: 1024px) {
  .resource .resource__summary h1 {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem; }
  .resource .resource__summary h2 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .resource .resource__summary h3 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .resource .resource__summary h4 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .resource .resource__summary h5 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .resource .resource__summary h6 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .resource .resource__summary p,
  .resource .resource__summary ul,
  .resource .resource__summary ol,
  .resource .resource__summary pre,
  .resource .resource__summary table,
  .resource .resource__summary blockquote {
    margin-top: 1.4rem;
    margin-bottom: 2.8rem; }
  .resource .resource__summary p.margin-bottom-none {
    margin-bottom: 0; }
  .resource .resource__summary li {
    margin: 0.5rem 0;
    line-height: 1.5; }
  .resource .resource__summary div > h5:first-child,
  .resource .resource__summary div > h6:first-child {
    margin-top: 1.4rem; } }

.resource .resource__summary a,
.resource .resource__summary a:link {
  color: #881c1c;
  text-decoration: underline; }

.resource .resource__summary a:visited {
  color: #4a4a4a; }

.resource .resource__summary a:hover {
  color: #151515;
  text-decoration: underline; }

.resource .resource__summary a:active {
  color: #83764b;
  text-decoration: none; }

.resource .resource__summary a:focus {
  outline: 3px solid #a89968;
  text-decoration: underline; }
