@media screen and (min-width: 768px) and (max-width: 920px) {
  .page-main {
    padding-top: 2.8rem; } }

.views-element-container .views-exposed-form .form-item-keywords {
  margin-right: 0;
  max-width: 50rem; }

.views-element-container .item-list h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-style: italic;
  text-transform: none;
  font-style: normal; }
  @media screen and (min-width: 1024px) {
    .views-element-container .item-list h2 {
      font-size: 1.9rem;
      line-height: 2.8rem; } }

.views-element-container .item-list ul {
  margin: 4rem 0 2rem; }

.views-element-container .item-list li {
  list-style: none;
  margin-bottom: 2rem; }
  .views-element-container .item-list li strong span {
    color: #151515;
    background-color: #e0dbc9;
    padding: 0 0.5rem; }
