#block-mainnavigation ul {
  padding-left: 0; }

#block-mainnavigation ul.sf-menu.sf-horizontal.sf-shadow ul {
  box-shadow: 0 0 0.5rem 0 rgba(74, 74, 74, 0.5); }

#block-mainnavigation ul.sf-menu.sf-horizontal {
  margin: 0; }

#block-mainnavigation a {
  text-decoration: none;
  color: #151515;
  font-weight: 600;
  line-height: 1;
  padding: 1.2rem 1.6rem; }
  #block-mainnavigation a.sf-with-ul {
    padding-right: 3rem; }

#block-mainnavigation a.sf-depth-1 {
  transition: border 0.3s ease-in-out; }

#block-mainnavigation a.sf-depth-1,
#block-mainnavigation li.sfHover.sf-no-children a.sf-depth-1:focus {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1.2rem;
  padding-bottom: 0.99rem;
  border-bottom: 0.3rem solid #fff; }

#block-mainnavigation li.sfHover a.sf-depth-1,
#block-mainnavigation a.sf-depth-1:hover,
#block-mainnavigation a.sf-depth-1:active {
  border-bottom: 0.3rem solid #a89968; }

#block-mainnavigation li.sf-depth-2 a:hover,
#block-mainnavigation li.sf-depth-2 a:active {
  text-decoration: underline;
  color: #881c1c; }

#block-mainnavigation li {
  background: #ffffff; }
  #block-mainnavigation li li {
    background: #ffffff; }
    #block-mainnavigation li li li {
      background: #ffffff; }
  #block-mainnavigation li:hover, #block-mainnavigation li.sfHover {
    background: #ffffff; }
    #block-mainnavigation li:hover > ul, #block-mainnavigation li.sfHover > ul {
      top: 4.1rem; }
      @media screen and (min-width: 921px) {
        #block-mainnavigation li:hover > ul, #block-mainnavigation li.sfHover > ul {
          left: 50%;
          transform: translateX(-50%); } }
      #block-mainnavigation li:hover > ul li, #block-mainnavigation li.sfHover > ul li {
        padding: 0 2rem; }
        #block-mainnavigation li:hover > ul li a, #block-mainnavigation li.sfHover > ul li a {
          line-height: 1.5; }
      #block-mainnavigation li:hover > ul li:first-child, #block-mainnavigation li.sfHover > ul li:first-child {
        padding: 2.5rem 2rem 0; }
      #block-mainnavigation li:hover > ul li:last-child, #block-mainnavigation li.sfHover > ul li:last-child {
        padding: 0 2rem 2.5rem; }

#block-mainnavigation .sf-sub-indicator {
  background-image: url("../images/caret-down-black.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 0 -2px; }

#block-mainnavigation .sf-sub-indicator::after {
  content: ''; }

#block-mainnavigation li#main-menu-link-contentfdb309ba-6b4e-449a-bfef-4630f345e03c a.sf-depth-1 {
  padding-right: 3rem;
  background-image: url("../images/user-maroon.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 84% 1.4rem;
  color: #881c1c; }

#block-mainnavigation li#main-menu-link-content0ca5aeac-41b5-4e68-8ff0-ae0ba4961041 a.sf-depth-1 {
  padding-right: 3rem;
  background-image: url("../images/compass-maroon.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 90% 1.4rem;
  color: #881c1c; }

body.user-logged-in #block-mainnavigation li#main-menu-link-contentfdb309ba-6b4e-449a-bfef-4630f345e03c {
  display: none; }

body.not-logged-in #block-mainnavigation li#main-menu-link-content0ca5aeac-41b5-4e68-8ff0-ae0ba4961041 {
  display: none; }
