.tabs {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  position: relative; }
  @media screen and (max-width: 767px) {
    .tabs {
      max-width: 80%; } }

.tabs.primary {
  padding: 0;
  margin: 2rem 0; }
  @media screen and (min-width: 768px) {
    .tabs.primary::after {
      background-color: #e9e9e9;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1; } }
  .tabs.primary li {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 8px;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .tabs.primary li {
        display: inline-block;
        margin: 0 8px 0 0; } }
  @media screen and (min-width: 768px) {
    .tabs.primary li:first-child {
      margin: 0 8px; } }
  .tabs.primary a {
    line-height: 1;
    background-color: #f8f8f8;
    border: 2px solid #e9e9e9;
    color: #4a4a4a;
    display: block;
    padding: 16px;
    text-decoration: none; }
    @media screen and (min-width: 768px) {
      .tabs.primary a {
        border-bottom: 2px solid #e9e9e9;
        padding: 8px 24px; } }
  .tabs.primary a:hover {
    background-color: #f6f5f0;
    border: 2px solid #e9e9e9;
    text-decoration: underline;
    color: #151515; }
  .tabs.primary li:focus {
    outline: 0 solid #a89968; }
  .tabs.primary a:focus {
    outline: 3px solid #a89968; }
  .tabs.primary .is-active a {
    background-color: #fff;
    border-bottom: 2px solid #fff;
    text-decoration: none;
    color: #151515; }
    @media screen and (max-width: 767px) {
      .tabs.primary .is-active a {
        border-bottom: 2px solid #e9e9e9; } }

.tabs.secondary {
  margin-top: 10px; }
  .tabs.secondary li {
    display: inline-block;
    font-size: 1.6rem;
    margin: 8px 16px 4px 0; }
  .tabs.secondary a {
    line-height: 1;
    background-color: transparent;
    border-bottom: 2px solid #e9e9e9;
    color: #ccc;
    display: block;
    padding: 8px 12px 4px; }
  .tabs.secondary .is-active a,
  .tabs.secondary a:focus,
  .tabs.secondary a:hover {
    background-color: transparent;
    border-color: #151515;
    color: #151515;
    text-decoration: none; }

.tabs__local-actions {
  padding: 16px 0; }

.tabs__local-actions-links {
  margin: 0; }
