.tags {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }

.tag__item {
  font-size: 1.6rem;
  font-weight: 800;
  color: #881c1c;
  text-transform: uppercase;
  line-height: 1.8rem; }
  .tag__item a,
  .tag__item a:link {
    color: #881c1c;
    text-decoration: underline; }
  .tag__item a:visited {
    color: #4a4a4a; }
  .tag__item a:hover {
    color: #151515;
    text-decoration: underline; }
  .tag__item a:active {
    color: #83764b;
    text-decoration: none; }
  .tag__item a:focus {
    outline: 3px solid #a89968;
    text-decoration: underline; }
  .tag__item a {
    line-height: 2rem; }
