.text-media-sidebar {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.4rem; }
  @media screen and (min-width: 768px) {
    .text-media-sidebar {
      padding: 0 3.5rem; } }
  @media screen and (min-width: 1270px) {
    .text-media-sidebar {
      margin-bottom: 2rem; } }

.text-media-sidebar__heading {
  font-size: 3.1rem;
  line-height: 3.2rem;
  font-weight: 800;
  text-transform: none;
  max-width: 600px;
  margin: 0; }
  @media screen and (min-width: 1024px) {
    .text-media-sidebar__heading {
      font-size: 3.7rem;
      line-height: 3.8rem; } }
  @media screen and (min-width: 1024px) {
    .text-media-sidebar__heading {
      max-width: 800px;
      margin: 0; } }

.text-media-sidebar__content h1 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }

.text-media-sidebar__content h2 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-media-sidebar__content h3 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-media-sidebar__content h4 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-media-sidebar__content h5 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-media-sidebar__content h6 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-media-sidebar__content p,
.text-media-sidebar__content ul,
.text-media-sidebar__content ol,
.text-media-sidebar__content pre,
.text-media-sidebar__content table,
.text-media-sidebar__content blockquote {
  margin-top: 1rem;
  margin-bottom: 2.4rem; }

.text-media-sidebar__content p.margin-bottom-none {
  margin-bottom: 0; }

.text-media-sidebar__content li {
  margin: 0.4rem 0;
  line-height: 1.375; }

.text-media-sidebar__content ul,
.text-media-sidebar__content ol {
  list-style-position: outside;
  margin-left: 4ch; }

.text-media-sidebar__content ul ::marker,
.text-media-sidebar__content ol ::marker {
  color: #881c1c;
  font-weight: 600; }

.text-media-sidebar__content ul ul,
.text-media-sidebar__content ol ol,
.text-media-sidebar__content ul ol,
.text-media-sidebar__content ol ul {
  margin-top: 0;
  margin-bottom: 0; }

.text-media-sidebar__content ul.three-columns {
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-width: 210px;
  column-width: 210px;
  -moz-column-gap: 3rem;
  column-gap: 3rem; }
  .text-media-sidebar__content ul.three-columns li {
    width: 100%; }
    .text-media-sidebar__content ul.three-columns li a {
      display: block;
      line-height: 1.375; }

.text-media-sidebar__content p + h5,
.text-media-sidebar__content p + h6,
.text-media-sidebar__content h2 + h3,
.text-media-sidebar__content h3 + h4,
.text-media-sidebar__content h4 + h5,
.text-media-sidebar__content h5 + h6 {
  margin-top: 0; }

.text-media-sidebar__content div > h5:first-child,
.text-media-sidebar__content div > h6:first-child {
  margin-top: 1rem; }

@media screen and (min-width: 1024px) {
  .text-media-sidebar__content h1 {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem; }
  .text-media-sidebar__content h2 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-media-sidebar__content h3 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-media-sidebar__content h4 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-media-sidebar__content h5 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-media-sidebar__content h6 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-media-sidebar__content p,
  .text-media-sidebar__content ul,
  .text-media-sidebar__content ol,
  .text-media-sidebar__content pre,
  .text-media-sidebar__content table,
  .text-media-sidebar__content blockquote {
    margin-top: 1.4rem;
    margin-bottom: 2.8rem; }
  .text-media-sidebar__content p.margin-bottom-none {
    margin-bottom: 0; }
  .text-media-sidebar__content li {
    margin: 0.5rem 0;
    line-height: 1.5; }
  .text-media-sidebar__content div > h5:first-child,
  .text-media-sidebar__content div > h6:first-child {
    margin-top: 1.4rem; } }

@media screen and (min-width: 768px) {
  .text-media-sidebar__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; } }

.text-media-sidebar__content .text-media-sidebar__paragraph-text {
  max-width: 800px;
  min-width: 55%; }

.text-media-sidebar__content .media-item {
  margin: 1.4rem 0 2rem; }
  @media screen and (min-width: 768px) {
    .text-media-sidebar__content .media-item {
      order: 2;
      margin: 2rem 0 0 4.5rem;
      max-width: 345px;
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .text-media-sidebar__content .media-item {
      margin-left: 5.5rem; } }

@media screen and (max-width: 767px) {
  .text-media-sidebar--with-image .text-media-sidebar__content .media-item {
    max-width: 480px; } }
