.text-block-sidebar {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.4rem; }
  @media screen and (min-width: 768px) {
    .text-block-sidebar {
      padding: 0 3.5rem; } }
  @media screen and (min-width: 1270px) {
    .text-block-sidebar {
      margin-bottom: 2rem; } }

.text-block-sidebar__heading {
  font-size: 3.1rem;
  line-height: 3.2rem;
  font-weight: 800;
  text-transform: none;
  max-width: 600px;
  margin: 0; }
  @media screen and (min-width: 1024px) {
    .text-block-sidebar__heading {
      font-size: 3.7rem;
      line-height: 3.8rem; } }
  @media screen and (min-width: 1024px) {
    .text-block-sidebar__heading {
      max-width: 800px;
      margin: 0; } }

.text-block-sidebar--with-block .text-block-sidebar__content h1 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }

.text-block-sidebar--with-block .text-block-sidebar__content h2 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-block-sidebar--with-block .text-block-sidebar__content h3 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-block-sidebar--with-block .text-block-sidebar__content h4 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-block-sidebar--with-block .text-block-sidebar__content h5 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-block-sidebar--with-block .text-block-sidebar__content h6 {
  margin-top: 2.4rem;
  margin-bottom: 0; }

.text-block-sidebar--with-block .text-block-sidebar__content p,
.text-block-sidebar--with-block .text-block-sidebar__content ul,
.text-block-sidebar--with-block .text-block-sidebar__content ol,
.text-block-sidebar--with-block .text-block-sidebar__content pre,
.text-block-sidebar--with-block .text-block-sidebar__content table,
.text-block-sidebar--with-block .text-block-sidebar__content blockquote {
  margin-top: 1rem;
  margin-bottom: 2.4rem; }

.text-block-sidebar--with-block .text-block-sidebar__content p.margin-bottom-none {
  margin-bottom: 0; }

.text-block-sidebar--with-block .text-block-sidebar__content li {
  margin: 0.4rem 0;
  line-height: 1.375; }

.text-block-sidebar--with-block .text-block-sidebar__content ul,
.text-block-sidebar--with-block .text-block-sidebar__content ol {
  list-style-position: outside;
  margin-left: 4ch; }

.text-block-sidebar--with-block .text-block-sidebar__content ul ::marker,
.text-block-sidebar--with-block .text-block-sidebar__content ol ::marker {
  color: #881c1c;
  font-weight: 600; }

.text-block-sidebar--with-block .text-block-sidebar__content ul ul,
.text-block-sidebar--with-block .text-block-sidebar__content ol ol,
.text-block-sidebar--with-block .text-block-sidebar__content ul ol,
.text-block-sidebar--with-block .text-block-sidebar__content ol ul {
  margin-top: 0;
  margin-bottom: 0; }

.text-block-sidebar--with-block .text-block-sidebar__content ul.three-columns {
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-width: 210px;
  column-width: 210px;
  -moz-column-gap: 3rem;
  column-gap: 3rem; }
  .text-block-sidebar--with-block .text-block-sidebar__content ul.three-columns li {
    width: 100%; }
    .text-block-sidebar--with-block .text-block-sidebar__content ul.three-columns li a {
      display: block;
      line-height: 1.375; }

.text-block-sidebar--with-block .text-block-sidebar__content p + h5,
.text-block-sidebar--with-block .text-block-sidebar__content p + h6,
.text-block-sidebar--with-block .text-block-sidebar__content h2 + h3,
.text-block-sidebar--with-block .text-block-sidebar__content h3 + h4,
.text-block-sidebar--with-block .text-block-sidebar__content h4 + h5,
.text-block-sidebar--with-block .text-block-sidebar__content h5 + h6 {
  margin-top: 0; }

.text-block-sidebar--with-block .text-block-sidebar__content div > h5:first-child,
.text-block-sidebar--with-block .text-block-sidebar__content div > h6:first-child {
  margin-top: 1rem; }

@media screen and (min-width: 1024px) {
  .text-block-sidebar--with-block .text-block-sidebar__content h1 {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem; }
  .text-block-sidebar--with-block .text-block-sidebar__content h2 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-block-sidebar--with-block .text-block-sidebar__content h3 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-block-sidebar--with-block .text-block-sidebar__content h4 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-block-sidebar--with-block .text-block-sidebar__content h5 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-block-sidebar--with-block .text-block-sidebar__content h6 {
    margin-top: 2.8rem;
    margin-bottom: 0; }
  .text-block-sidebar--with-block .text-block-sidebar__content p,
  .text-block-sidebar--with-block .text-block-sidebar__content ul,
  .text-block-sidebar--with-block .text-block-sidebar__content ol,
  .text-block-sidebar--with-block .text-block-sidebar__content pre,
  .text-block-sidebar--with-block .text-block-sidebar__content table,
  .text-block-sidebar--with-block .text-block-sidebar__content blockquote {
    margin-top: 1.4rem;
    margin-bottom: 2.8rem; }
  .text-block-sidebar--with-block .text-block-sidebar__content p.margin-bottom-none {
    margin-bottom: 0; }
  .text-block-sidebar--with-block .text-block-sidebar__content li {
    margin: 0.5rem 0;
    line-height: 1.5; }
  .text-block-sidebar--with-block .text-block-sidebar__content div > h5:first-child,
  .text-block-sidebar--with-block .text-block-sidebar__content div > h6:first-child {
    margin-top: 1.4rem; } }

@media screen and (min-width: 768px) {
  .text-block-sidebar--with-block .text-block-sidebar__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; } }

.text-block-sidebar--with-block .text-block-sidebar__content .text-block-sidebar__paragraph-text {
  max-width: 800px; }

.text-block-sidebar--with-block .text-block-sidebar__content .text-block-sidebar__block-content {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2.4rem; }
  @media screen and (min-width: 768px) {
    .text-block-sidebar--with-block .text-block-sidebar__content .text-block-sidebar__block-content {
      margin: 1rem 0 0 4.5rem;
      max-width: 355px; } }
  @media screen and (min-width: 1024px) {
    .text-block-sidebar--with-block .text-block-sidebar__content .text-block-sidebar__block-content {
      margin-left: 5.5rem;
      max-width: 345px; } }

.text-block-sidebar--with-block .text-block-sidebar__content .block {
  padding: 3rem 4rem;
  background-color: #e9e9e9; }
  @media screen and (max-width: 543px) {
    .text-block-sidebar--with-block .text-block-sidebar__content .block {
      padding: 2rem 3rem; } }
  @media screen and (max-width: 413px) {
    .text-block-sidebar--with-block .text-block-sidebar__content .block {
      padding: 1.5rem 2rem; } }
  .text-block-sidebar--with-block .text-block-sidebar__content .block h2 {
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #881c1c;
    margin-top: 0;
    color: #151515;
    margin-bottom: 1.2rem; }
    @media screen and (min-width: 1024px) {
      .text-block-sidebar--with-block .text-block-sidebar__content .block h2 {
        font-size: 1.9rem;
        line-height: 2.8rem; } }
    @media screen and (min-width: 1024px) {
      .text-block-sidebar--with-block .text-block-sidebar__content .block h2 {
        margin-bottom: 1.4rem; } }
  .text-block-sidebar--with-block .text-block-sidebar__content .block ul.menu {
    list-style: none;
    margin: 0; }
    .text-block-sidebar--with-block .text-block-sidebar__content .block ul.menu a {
      display: block;
      line-height: 2.8rem; }
      @media screen and (min-width: 1024px) {
        .text-block-sidebar--with-block .text-block-sidebar__content .block ul.menu a {
          line-height: 2.4rem; } }
      .text-block-sidebar--with-block .text-block-sidebar__content .block ul.menu a:visited {
        color: #881c1c; }
      .text-block-sidebar--with-block .text-block-sidebar__content .block ul.menu a:hover, .text-block-sidebar--with-block .text-block-sidebar__content .block ul.menu a:active {
        color: #151515; }

.text-block-sidebar--without-block .text-block-sidebar__paragraph-text {
  max-width: 900px; }
