.text-button-sidebar {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.4rem; }
  @media screen and (min-width: 768px) {
    .text-button-sidebar {
      padding: 0 3.5rem; } }
  @media screen and (min-width: 1270px) {
    .text-button-sidebar {
      margin-bottom: 2rem; } }
  .text-button-sidebar h1 {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem; }
  .text-button-sidebar h2 {
    margin-top: 2.4rem;
    margin-bottom: 0; }
  .text-button-sidebar h3 {
    margin-top: 2.4rem;
    margin-bottom: 0; }
  .text-button-sidebar h4 {
    margin-top: 2.4rem;
    margin-bottom: 0; }
  .text-button-sidebar h5 {
    margin-top: 2.4rem;
    margin-bottom: 0; }
  .text-button-sidebar h6 {
    margin-top: 2.4rem;
    margin-bottom: 0; }
  .text-button-sidebar p,
  .text-button-sidebar ul,
  .text-button-sidebar ol,
  .text-button-sidebar pre,
  .text-button-sidebar table,
  .text-button-sidebar blockquote {
    margin-top: 1rem;
    margin-bottom: 2.4rem; }
  .text-button-sidebar p.margin-bottom-none {
    margin-bottom: 0; }
  .text-button-sidebar li {
    margin: 0.4rem 0;
    line-height: 1.375; }
  .text-button-sidebar ul,
  .text-button-sidebar ol {
    list-style-position: outside;
    margin-left: 4ch; }
  .text-button-sidebar ul ::marker,
  .text-button-sidebar ol ::marker {
    color: #881c1c;
    font-weight: 600; }
  .text-button-sidebar ul ul,
  .text-button-sidebar ol ol,
  .text-button-sidebar ul ol,
  .text-button-sidebar ol ul {
    margin-top: 0;
    margin-bottom: 0; }
  .text-button-sidebar ul.three-columns {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-width: 210px;
    column-width: 210px;
    -moz-column-gap: 3rem;
    column-gap: 3rem; }
    .text-button-sidebar ul.three-columns li {
      width: 100%; }
      .text-button-sidebar ul.three-columns li a {
        display: block;
        line-height: 1.375; }
  .text-button-sidebar p + h5,
  .text-button-sidebar p + h6,
  .text-button-sidebar h2 + h3,
  .text-button-sidebar h3 + h4,
  .text-button-sidebar h4 + h5,
  .text-button-sidebar h5 + h6 {
    margin-top: 0; }
  .text-button-sidebar div > h5:first-child,
  .text-button-sidebar div > h6:first-child {
    margin-top: 1rem; }
  @media screen and (min-width: 1024px) {
    .text-button-sidebar h1 {
      margin-top: 2.8rem;
      margin-bottom: 2.8rem; }
    .text-button-sidebar h2 {
      margin-top: 2.8rem;
      margin-bottom: 0; }
    .text-button-sidebar h3 {
      margin-top: 2.8rem;
      margin-bottom: 0; }
    .text-button-sidebar h4 {
      margin-top: 2.8rem;
      margin-bottom: 0; }
    .text-button-sidebar h5 {
      margin-top: 2.8rem;
      margin-bottom: 0; }
    .text-button-sidebar h6 {
      margin-top: 2.8rem;
      margin-bottom: 0; }
    .text-button-sidebar p,
    .text-button-sidebar ul,
    .text-button-sidebar ol,
    .text-button-sidebar pre,
    .text-button-sidebar table,
    .text-button-sidebar blockquote {
      margin-top: 1.4rem;
      margin-bottom: 2.8rem; }
    .text-button-sidebar p.margin-bottom-none {
      margin-bottom: 0; }
    .text-button-sidebar li {
      margin: 0.5rem 0;
      line-height: 1.5; }
    .text-button-sidebar div > h5:first-child,
    .text-button-sidebar div > h6:first-child {
      margin-top: 1.4rem; } }
  .text-button-sidebar .text-button-sidebar__heading {
    font-size: 3.1rem;
    line-height: 3.2rem;
    font-weight: 800;
    text-transform: none;
    max-width: 600px;
    margin: 0; }
    @media screen and (min-width: 1024px) {
      .text-button-sidebar .text-button-sidebar__heading {
        font-size: 3.7rem;
        line-height: 3.8rem; } }
    @media screen and (min-width: 1024px) {
      .text-button-sidebar .text-button-sidebar__heading {
        max-width: 800px;
        margin: 0; } }
  .text-button-sidebar .text-button-sidebar__button {
    text-align: center;
    margin-bottom: 3.8rem; }
    .text-button-sidebar .text-button-sidebar__button a.button,
    .text-button-sidebar .text-button-sidebar__button a.button:link {
      margin-right: 0;
      width: auto;
      max-width: 80%; }
  @media screen and (min-width: 900px) {
    .text-button-sidebar .text-button-sidebar__content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; }
    .text-button-sidebar .text-button-sidebar__paragraph-text {
      max-width: 800px;
      width: 66.66666%; }
    .text-button-sidebar .text-button-sidebar__button {
      width: 33.33333%;
      margin-top: 2rem;
      margin-bottom: 0; } }
