#umass--global--header,
#umass--global--footer {
  padding: 0; }

#umass--global--header #umass--global--navigation--links li {
  margin: 0 0.8rem; }

@media only screen and (min-width: 785px) {
  #umass--global--header #container {
    max-width: 1400px !important;
    padding: 0 3.5rem; }
  #umass--global--footer .container {
    max-width: 1400px !important;
    padding: 1.6rem 3.5rem; }
  #umass--global--header #umass--global--navigation--links li:last-child {
    margin-right: 0; } }

@media only screen and (max-width: 784px) {
  #umass--global--header #wordmark {
    margin-left: 1.6rem; }
  #umass--global--header #umass--global--navigation--links {
    margin-right: 0.5rem; }
  #umass--global--footer .container {
    padding: 0.8rem 1.6rem; } }

@media only screen and (max-width: 599px) {
  .toolbar-vertical #umass--global--header #umass--global--navigation--navicon.is-active {
    margin-top: 39px; }
  #umass--global--header #umass--global--navigation--links a {
    font-size: 2rem;
    line-height: 1.75; }
  #umass--global--header #umass--global--navigation--navicon {
    top: 0.75rem;
    right: 1.5rem; } }

@media only screen and (min-width: 600px) {
  #umass--global--header #umass--global--navigation--links #umass--global--search {
    line-height: 2;
    width: 2rem;
    height: 2rem; } }

.umass-site-branding-site a,
.umass-site-branding-site a:hover,
.umass-site-branding-site a:link,
.umass-site-branding-site a:visited {
  font-size: 3.5rem; }
