{{ attach_library('uma_daris/unit-page-top') }}

<section class="unit-page-top{{ modifier ? ' ' ~ modifier }}{{- attributes ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>

  {% if image or button.text %}
  <div class="unit-page-top__image-button">

    {% if image %}
    {%
      include '@uma_daris/media-item/media-item.twig' with {
        "image": image,
        "caption": ""
      } only
    %}
    {% endif %}

    {% if button.text %}
    <div class="unit-page-top__button">
      {%
        include '@uma_daris/button/button.twig' with {
          "button": button
        } only
      %}
    </div>
    {% endif %}

  </div>
  {% endif %}

  {% if unit_description %}
  <div class="unit-page-top__unit-description">
    {{ unit_description }}
  </div>
  {% endif %}

</section>
