<section class="unit-page-top">

    <div class="unit-page-top__image-button">

        

<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='/advancement/themes/custom/uma_daris/dist/images/ChancellorBreakfast_690x460_opt1_color.jpg' alt='Group photo' />
    </div>
      </figure>
    
        <div class="unit-page-top__button">
      

  <a href="mailto:advar@umass.edu" class="button button--email">
    Contact Us
  </a>
    </div>
    
  </div>
  
    <div class="unit-page-top__unit-description">
    <p>We develop programs and services to meet the needs of our community members throughout all the various stages of theirs lives. Our goal is to encourage them to use our resources for lifelong learning, get connected to the UMass community, and continue to engage with the university even after they’ve graduated. We work hard to create interesting and unique programs, career development activities, and volunteer opportunities. We also plan and host homecoming, class reunions, young alumni events, and more! And, each year, we meet with divisional leadership, campus partners, and volunteer networks to develop a plan to reach a broader and more diverse audience within the UMass community. Our team is broken down into three groups:</p><ul class='three-columns'><li><a href='#'>Academic &amp; Student Affairs Programs</a></li><li><a href='#'>Annual Giving</a></li><li><a href='#'>Campaign Management</a></li><li><a href='#'>Corporate Development</a></li><li><a href='#'>Foundation Relations</a></li><li><a href='#'>Gift Planning</a></li><li><a href='#'>Prospect Management</a></li><li><a href='#'>Regional Development</a></li><li><a href='#'>Stewardship &amp; Donor Relations</a></li></ul>
  </div>
  
</section>