// Import site utilities.
@import '../../global/utils/init';

.directory-entry {
  // Add a max-width so this doesn't look super weird in the style guide.
  max-width: 100%;
  position: relative;

  @include breakpoint(396px) {
    max-width: 290px;
  }
}

.directory-entry:focus-within {
  outline: 3px dotted $color-gold;
  outline-offset: 3px;
}

.directory-entry__image img {
  display: block;
  width: 100%;
  border-radius: 50%;
  filter: grayscale(100%) contrast(115%);
  mix-blend-mode: screen;
  opacity: 0.9;
}

.directory-entry__image {
  position: relative;
  isolation: isolate;//fixes safari bug: https://css-tricks.com/almanac/properties/i/isolation/
}

.directory-entry__image::before {
  border-radius: 50%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(113, 32, 20, 0.3);
  //background: rgba(113, 66, 20, 0.5);
}

.directory-entry__content {
  margin-top: 2.3rem;
  text-align: center;
  line-height: 2.8rem;
  @include text-links;
}

.directory-entry__heading {
  @include eyebrow-text;

  .credentials {
    text-transform: none;
  }
}

.directory-entry__position {
  font-style: italic;
  font-weight: $font-weight-light;
}

.directory-entry__heading,
.directory-entry__position {
  line-height: 2.2rem;
}

.directory-entry__email {
  @include ellipsis;
  text-transform: lowercase;
}

.directory-entry__phone,
.directory-entry__email,
.directory-entry__location {
  font-weight: $font-weight-semibold;
}
