<section class="carousel " >
    
  <ul class="carousel__list carousel__slick">
                  <li class="carousel-item " >
    
      <div class="carousel-item__media">
      

<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='https://source.unsplash.com/G4su92tyImI/1400x787' alt='test image' />
    </div>
      </figure>
    </div>
  
      <div class="carousel-item__content">
      

<h2 class="heading" >

      
  
</h2>
              

  <button class="button" >
    
  </button>
          </div>
  </li>
              <li class="carousel-item " >
    
      <div class="carousel-item__media">
      

<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='https://source.unsplash.com/BjxBmGBq38o/1400x787' alt='test image' />
    </div>
      </figure>
    </div>
  
      <div class="carousel-item__content">
      

<h2 class="heading" >

      
  
</h2>
              

  <button class="button" >
    
  </button>
          </div>
  </li>
              <li class="carousel-item " >
    
      <div class="carousel-item__media">
      

<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='https://source.unsplash.com/unQnklrzl80/1400x787' alt='test image' />
    </div>
      </figure>
    </div>
  
      <div class="carousel-item__content">
      

<h2 class="heading" >

      
  
</h2>
              

  <button class="button" >
    
  </button>
          </div>
  </li>
            </ul>
</section>