{{ attach_library('uma_daris/carousel') }}

<section class="carousel {{ modifier }}" {{ extra_attributes }}>
  {#
    Optional: Pass in Drupal specific functionality.
    Note that this is mostly relevant to nodes and blocks.
  #}
  {#
    {{ title_prefix }}
    {{ title_suffix }}
  #}

  <ul class="carousel__list carousel__slick">
    {% block carousel_items %}
      {% for carousel_item in list %}
        {%
          include '@uma_daris/carousel/_carousel-item.twig' with {
            "image": carousel_item.image,
            "title": carousel_item.title,
            "button_text": carousel_item.button_text,
            "url": carousel_item.url
          } only
        %}
      {% endfor %}
    {% endblock %}
  </ul>
</section>
