// Import site utilities.
@import '../../global/utils/init';

.faq {
  background: transparent;
  @include global-typography;
}

.faq__heading {
  @include heading-4-style;
}

.faq__content {
  @include text-links;
}
