{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
<h2 class="views-group-heading heading-4-style">{{ title }}</h2>
{% endif %}
{# item, for eg, can be anything, but rows has to match above in comment #}
<ul class="resource-list__items">
  {% for item in rows %}
    <li class="resource-list__item">
      {{- item.content -}}
    </li>
  {% endfor %}
</ul>
