{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% set attributes = attributes.addClass(classes) %}
{% set modifier = 'card-list--two-column-max card-list--two-column-max-with-sidebar' %}

{{ exposed }}
{{ attachment_before }}

{% if rows -%}
{% elseif empty -%}
{{ empty }}
{% endif %}

{% embed '@uma_daris/card-list/card-list.twig' with {
    "heading": {
      "heading_level": "2",
      "heading_id": "announcements",
      "modifier": "heading-3-style",
      "line_1": view.title,
      "line_2": "",
      "subtitle": header,
      "url": ""
    }
  } %}

  {% block card_items %}
    {{ rows }}
  {% endblock %}

  {% block more_button %}
  <div class="card-list__more-button">
    {%
      include '@uma_daris/button/button.twig' with {
        "button": {
          "text": "More Announcements",
          "url": "/advancement/search?f[0]=type:93",
          "modifier": ""
        }
      } only
    %}
  </div>
  {% endblock %}

{% endembed %}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}
