{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% set attributes = attributes.addClass(classes) %}
{% set modifier = 'resource-list--views-grouped' %}

{% if header %}
<header>
  {{ header }}
</header>
{% endif %}

{{ exposed }}
{{ attachment_before }}

{% if rows -%}
{% elseif empty -%}
{{ empty }}
{% endif %}
{# this embed passes the views rows to the accordion component as the array of accordion items defined in the component's twig block of the same name = accordion_items. By adding the with arguments for the heading, I was able to pass the heading array to the directory-list component which isn't in a twig block in that component #}
{% embed '@uma_daris/resource-list/resource-list.twig' with {
    "heading": {
      "heading_level": "2",
      "heading_id": "resources",
      "modifier": "heading-3-style",
      "line_1": view.title,
      "line_2": "",
      "subtitle": "",
      "url": ""
    }
  } %}
  {% block resource_items %}
    {{ rows }}
  {% endblock %}
{% endembed %}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}
