{# no white space between and |trim to insure no space before the comma #}<span{% if attributes %} class="{{ attributes.class }}"{% endif %}{{- attributes ? attributes|without(class) -}}>{{ title_prefix }}{% if url %}<a href="{{ url }}" class="tag__link">{{ name|trim }}</a>{% else %}{{ name|trim }}{% endif %}{{ title_suffix }}</span>
