// Import site utilities.
@import '../../global/utils/init';

.unit-page-top {
  @include global-typography;
  @include space-between-sm;

  @include breakpoint($bp-under-xsm) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .unit-page-top__image-button {
      text-align: center;
      margin: 1.5rem auto 0;
      max-width: 345px;
    }
  }

  @include breakpoint($bp-xsm) {
    display: table;

    .unit-page-top__image-button {
      float: right;
      text-align: center;
      margin: 0.8rem 0 2rem 1rem;
      width: 50%;
      min-width: 225px;
      max-width: 345px;
    }
  }

  @include breakpoint($bp-md) {

    .unit-page-top__image-button {
      margin: 0.8rem 2rem 2rem;
    }
  }

  @include breakpoint($bp-lg) {
    margin-bottom: 3.5rem;
  }

  .unit-page-top__unit-description {
    @include text-links;
  }

  .media-item {
    margin-bottom: 2rem;
  }

  a.button,
  a.button:link {
    width: auto;
    margin-right: 0;

    @include breakpoint($bp-sm) {
      margin-right: 0;
    }
  }
}
