// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
@import 'utils/init';

// Import font-face fonts.
//
// This should only be imported and loaded once.
@import 'fonts/fonts';

// Import utility classes.
@import 'utils/classes';

// Import superfish styles.
@import 'sidr/sidr';

// Import superfish styles.
@import 'superfish/superfish';

// Import paragraph styles.
@import 'paragraphs/paragraphs';

// Base
//
// Plain html element styling. Shouldn't require
// any classes.
//
// normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
//
// NOTE: While this uses normalize.css as a starting
// point it has and will be updated as needed.
// This should be ONLY plain html element styling.
// There should be NO classes, IDs, etc.
//=======================================================

// StyleLint needs to ignore some Normalize specific things:
/* stylelint-disable property-no-vendor-prefix */

// Lots of form styling from Mario:
// https://mariohernandez.io/blog/styling-forms-elements

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  @include font-stack-primary;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  margin: 0;
  color: $color-gray-dk;
  font-size: 1.6rem;
  line-height: 2.4rem;

  @include breakpoint($bp-md) {
    line-height: 2.8rem;
  }
}

// Render the `main` element consistently in IE11.
main {
  display: block;
}

// https://css-tricks.com/keyboard-only-focus-styles/ -- also see line 52 above
html[data-whatinput='keyboard'] *:focus {
  outline: 3px solid $color-gold;
}

html[data-whatinput='mouse'] *:focus,
html[data-whatinput='touch'] *:focus {
  outline: none;
}

// Grouping content.
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  /* stylelint-disable-next-line font-family-no-duplicate-names */
  font-family: monospace, monospace;
  font-size: 1em;
}

// Text-level semantics.
abbr[title] {
  border-bottom: 0;
  // Fallback for browsers that do not support `text-decoration-style`.
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  /* stylelint-disable-next-line font-family-no-duplicate-names */
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Images
// deals with srcset rwd issues
// https://www.zachleat.com/web/fluid-images/
img {
  max-width: 100%;
  border-style: none;
}

img[width] {
  width: auto; /* Defer to max-width */
}

img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

img[src$='.svg'] {/* Let SVG scale without boundaries */
  width: 100%;
  height: auto;
  max-width: none;
}

// Forms

label {
  display: block;
  font-size: 1.8rem;
  font-weight: $font-weight-bold;
  color: $color-gray-dk;
  margin-top: 2.4rem;
  margin-bottom: 0.6rem;

  @include breakpoint($bp-sm) {
    font-size: 2rem;
    margin-top: 2.8rem;
    margin-bottom: 0.8rem;
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='color'],
input[type='number'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
textarea {
  font-size: 1.8rem;
  color: $color-gray-dk;
  background-color: #ffffff;
  border: 1px solid $color-gray-ada-ui;
  padding: 2rem 3rem;
  width: 100%;
}

input[type='color'] {
  height: 6rem;
  padding: 1rem;
}

// Remove the default vertical scrollbar in IE 10+.
textarea {
  overflow: auto;
  height: initial;
}

input:hover,
textarea:hover,
select:hover {
  border: 1px solid $color-gray-dk;
}

//styling select menus:
//https://www.filamentgroup.com/lab/select-css.html

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;

  @include breakpoint($bp-sm) {
    line-height: 1.75;
  }
}

input,
textarea {
  margin-bottom: 0.6rem;

  @include breakpoint($bp-sm) {
    margin-bottom: 0.8rem;
  }
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

// copied and modified from claro core admin theme
select {
  font-size: 1.8rem;
  line-height: 1.5;
  box-sizing: border-box;
  max-width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Being able to control inner box shadow on iOS. */
  padding: 2rem 4rem 2rem 3rem;
  border-radius: 0;
  background-image: url('../images/caret-down.svg');
  background-repeat: no-repeat;
  background-position: right 2rem bottom 50%;
  background-size: 1.25rem auto;
  border: 1px solid $color-gray-ada-ui;

  @include breakpoint($bp-sm) {
    line-height: 1.75;
  }
}

select:focus {
  background-image: url('../images/caret-down-black.svg');
  //border: 1px solid $color-gray-dk;
}

select[disabled] {
  background-image: url('../images/caret-down-gray.svg');
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted $color-danube;
}

.button,
button,
input[type='submit'],
input[type='reset'] {
  text-transform: uppercase;
  background-color: $color-umass-maroon;
  color: $color-white;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: $font-weight-extrabold;
  padding: 1rem 4.2rem;
  text-align: center;
  transition: background-color $transition, color $transition;

  &:hover,
  &:active {
    background-color: darken($color-umass-maroon, 9%);
    color: $color-white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

input[type='reset'],
input#edit-reset,
input[value='Reset'] {
  background-color: $color-gray-ada-lg;

  &:hover,
  &:active {
    background-color: darken($color-gray-ada, 9%);
  }
}

input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  opacity: 0;
}

.form-type-checkbox,
.form-type-radio {
  margin-bottom: 0.8rem;

  @include breakpoint($bp-sm) {
    margin-bottom: 0.9rem;
  }
}

.facets-widget-checkbox label,
.form-type-checkbox label,
.form-type-radio label {
  position: relative;
  padding-left: 35px;
  font-size: 1.6rem;
  font-weight: $font-weight-normal;
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint($bp-sm) {
    font-size: 1.8rem;
  }
}

input[type='checkbox'] + label::before {
  border: 1px solid $color-gray-dk;
  content: '';
  display: inline-block;
  height: 22px;
  left: 4px;
  position: absolute;
  top: 1px;
  width: 22px;

  @include breakpoint($bp-sm) {
    top: 3px;
  }
}

input[type='checkbox']:checked + label::after {
  background-color: $color-umass-maroon;
  content: '';
  display: inline-block;
  height: 14px;
  left: 8px;
  position: absolute;
  top: 5px;
  width: 14px;

  @include breakpoint($bp-sm) {
    top: 7px;
  }
}

input[type='radio'] + label::before {
  border-radius: 50%;
  border: 1px solid $color-gray-dk;
  content: '';
  display: inline-block;
  height: 22px;
  left: 4px;
  position: absolute;
  top: 1px;
  width: 22px;

  @include breakpoint($bp-sm) {
    top: 3px;
  }
}

input[type='radio']:checked + label::before {
  border: 2px solid $color-umass-maroon;
}

input[type='radio']:checked + label::after {
  background-color: $color-umass-maroon;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 14px;
  left: 8px;
  position: absolute;
  top: 5px;
  width: 14px;

  @include breakpoint($bp-sm) {
    top: 7px;
  }
}

.radio input[type='radio'] + label::after,
.checkbox input[type='checkbox'] + label::after,
.facets-widget-checkbox input[type='checkbox'] + label::after {
  content: none;
}

input[type='radio']:checked + label::after,
input[type='checkbox']:checked + label::after {
  content: '';
}

input[type='checkbox']:checked + label::before {
  content: '';
  background-color: $color-white;
  border: 2px solid $color-umass-maroon;
}

html[data-whatinput='keyboard'] input[type='radio']:focus + label::before,
html[data-whatinput='keyboard'] input[type='checkbox']:focus + label::before {
  outline: 3px solid $color-gold;
}

.form-actions {
  margin: 2.4rem 0;

  @include breakpoint($bp-sm) {
    margin: 2.8rem 0;
  }
}
// space above form-actions should match space between adjacent buttons
//.button + .button,
//button + button,
//.form-actions input[type='submit'] + input[type='submit'],
//.form-actions input[type='submit'] + input[type='reset'],
//.form-actions input[type='submit'] + input#edit-reset {
//  margin-left: 2rem;
//
//  @include breakpoint($bp-sm) {
//    margin-left: 2.4rem;
//  }
//}

.button,
button,
.form-actions input[type='submit'],
.form-actions input[type='reset'],
.form-actions input[value='Reset'],
.form-actions input#edit-reset,
.views-exposed-form .form-item {
  margin-right: 2rem;

  @include breakpoint($bp-sm) {
    margin-right: 2.4rem;
  }
}

// Correct the padding in Firefox.
fieldset {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid $color-gray-ada-ui;
}

legend {
  font-size: 1.8rem;
  box-sizing: border-box;
  font-weight: $font-weight-bold;
  color: $color-gray-dk;
  display: table;
  max-width: 100%;
  padding: 0 0.75rem;
  white-space: normal;

  @include breakpoint($bp-sm) {
    font-size: 2rem;
  }
}

progress {
  vertical-align: baseline;
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Correct the inability to style clickable types in iOS and Safari.
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

#block-exposed-search-form-sidebar,
#block-exposed-search-form-mobile-menu {

  form {
    display: flex;
    max-width: 265px;

    label {
      @include element-invisible;
    }

    div.form-item-keywords {
      margin: 0;
      margin-right: -1px;
      flex-grow: 1;
    }

    div.form-actions {
      flex-shrink: 0;
      margin: 0;
    }

    input[type='text'].form-text,
    input[type='submit'].form-submit {
      margin: 0;
      padding: 1rem 1.5rem;
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }
}

#block-exposed-search-form-sidebar form {
  padding-top: 2rem;
}

#block-exposed-search-form-mobile-menu form {
  padding-bottom: 1rem;

  input[data-drupal-selector='edit-reset'].form-submit {
    @include element-invisible;
  }
}

// Interactive.
// Add the correct display in Edge, IE 10+, and Firefox.
details {
  display: block;
}

summary {
  display: list-item;
}

// Misc.
// Add the correct display in IE 10+.
template {
  display: none;
}

// Lists
// Unset default list margin and padding because if not
// we'll have to unset it every. single. time.
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

// Headings are always 'just a bit bigger' than body copy.
// https://csswizardry.com/2016/02/managing-typography-on-large-apps/
//h1,
//h2,
//h3,
//h4,
//h5,
//h6 {
//  font-size: 2rem;
//  margin: 0 0 1rem;
//}

// Typography and vertical rhythm base
//
// https://www.gridlover.net/try
// with font size 16px, line height 1.75, and scale factor 1.5 for 768px+ and 16px, 1.5, and 1.25 for below

// setup global font sizes and line heights but leave margins to content region classes

h1,
.heading-1-style {
  font-size: 4rem;// (3.1/5.4)*7.0=4.02
  line-height: 4.15rem;// (5.6/5.4)*4=4.148
  font-weight: $font-weight-extrabold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

h2,
.heading-2-style {
  font-size: 3.3rem;// (2.5/3.6)*4.7=3.26
  line-height: 3.4rem;// (5.6/5.4)*3.3=3.422
  font-weight: $font-weight-extrabold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

h3,
.heading-3-style {
  font-size: 3.1rem;// (2/2.4)*3.7=3.08
  line-height: 3.2rem;// (5.6/5.4)*3.1=3.214
  font-weight: $font-weight-extrabold;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

h4,
.heading-4-style {
  font-size: 2.4rem;// (1.6/2.8)*3=1.71 -- looked too small
  line-height: 2.8rem;// (5.6/5.4)*1.7=1.76 -- stop at 2.4
  font-weight: $font-weight-extrabold;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

h5,
.heading-5-style {
  font-size: 1.7rem;// no smaller than 1.6 -- looked too small
  line-height: 2.4rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

h6,
.heading-6-style {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: $font-weight-semibold;
  text-transform: none;
  font-style: $font-style-italic;
  margin-top: 0;
  margin-bottom: 0;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr,
.hr {
  border: 2px solid $color-gray-lt;
  margin: -2px 0;
}

h1,
h2,
h3,
h4,
h6 {
  color: $color-black;
}

h5 {
  color: $color-umass-maroon;
}

p,
ul,
ol,
pre,
table {
  color: $color-gray-dk;
}

blockquote {
  color: $color-umass-maroon;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

@include breakpoint($bp-md) {

  h1,
  .heading-1-style {
    font-size: 7rem;
    line-height: 7.3rem;// (5.6/5.4)*7=7.3
  }

  h2,
  .heading-2-style {
    font-size: 4.7rem;
    line-height: 4.9rem;// (5.6/5.4)*4.7=4.874
  }

  h3,
  .heading-3-style {
    font-size: 3.7rem;
    line-height: 3.8rem;// (5.6/5.4)*3.7=3.837
  }

  h4,
  .heading-4-style {
    font-size: 3rem;
    line-height: 3.1rem;// (5.6/5.4)*3=3.111
  }

  h5,
  .heading-5-style {
    font-size: 1.9rem; // no smaller than 1.9
    line-height: 2.8rem;// (5.6/5.4)*1.9=1.97 -- stop at 2.8
  }

  h6,
  .heading-6-style {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
}

// Link text base
// Set default link styles for most theme regions: Excludes page_top, .header-region, and page_bottom

// NOTE: added block--uma-daris-content.html.twig for this first selector: region-content-block
.region-content-block,
.region-sidebar,
.region-footer-first,
.region-footer-second {
  @include text-links;
}
