@import '../../global/utils/init';

@media screen and (min-width: 768px) {

  .block-sidr-trigger {
    display: none;
  }
}

.region-header .block-sidr-trigger {

  button {
    background: $color-white;
    color: $color-umass-maroon;
    padding: 0;
    margin-right: 0.5rem;
  }

  .sidr-trigger__text {
    @include element-invisible;
  }

  img.icon-menu-search {
    width: 4rem;
    margin-bottom: -0.8rem;
  }

  img.icon-bars {
    width: 2.5rem;
    margin-bottom: -0.9rem;
  }
}

.region-content .block-sidr-trigger {
  margin-top: 1rem;

  button {
    background: $color-white;
    color: $color-black;
    padding: 0;
    margin-right: 0.5rem;
  }

  img.icon-sidr-filters {
    width: 2.8rem;
    margin-bottom: -0.8rem;
  }
}

.not-logged-in .region-header .block-sidr-trigger {

  img.icon-menu-search {
    @include element-invisible;
  }
}

.user-logged-in .region-header .block-sidr-trigger {

  img.icon-bars {
    @include element-invisible;
  }
}

// https://www.drupal.org/project/search_api/issues/3110652
// Using highlight processor causes theme to think user is anonymous
// *this results in body.not-logged-in rather than body.user-logged-in when search results are shown

.not-logged-in.path-search .region-header .block-sidr-trigger {

  img.icon-menu-search {
    @include element-invisible-off;
    width: 4rem;
  }

  img.icon-bars {
    @include element-invisible;
  }
}

.sidr-main-menu-open #sidr-main-menu {
  box-shadow: 0 0 10px 1px $color-black;
}

.sidr-filters-open #sidr-filters {
  box-shadow: 0 0 10px 1px $color-black;
}

#sidr-filters #block-aggregatedfieldforcontentandmediatype {
  padding-top: 2.5rem;
}

.sidr {
  background: $color-white;
  width: 80%;

  &.right {
    left: auto;
    right: -80%;
  }

  &.left {
    left: -80%;
    right: auto;
  }

  .sidr-inner {
    padding: 0 3rem;
  }

  .block-umass-site-branding {
    padding-bottom: 0;

    @media screen and (max-width: 374px) {

      .umass-site-branding-site a {
        font-size: 2.8rem;
      }
    }
  }

  // duplicated from sidebar-menu-block component
  .block-menu {
    margin: 3rem 0;

    @include breakpoint ($bp-under-xsm) {
      margin: 2rem 0;
    }

    @include breakpoint ($bp-under-xxsm) {
      margin: 1.5rem 0;
    }

    h2 {
      @include heading-5-style;
      color: $color-black;
      margin-bottom: 0.5rem;

      @include breakpoint ($bp-md) {
        margin-bottom: 0.7rem;
      }
    }

    ul.menu {
      list-style: none;
      margin: 0;
      margin-left: 1.5rem;

      @include breakpoint ($bp-md) {
        margin-left: 1.8rem;
      }

      li {
        margin-bottom: 0.5rem;

        @include breakpoint($bp-md) {
          margin-bottom: 0.8rem;
        }
      }

      a {
        display: block;
        line-height: 2rem;

        @include breakpoint ($bp-md) {
          line-height: 2.2rem;
        }

        &,
        &:link,
        &:visited {
          color: $color-black;
          text-decoration: none;
        }

        &:hover {
          color: $color-umass-maroon;
          text-decoration: underline;
        }

        &:active {
          color: $color-black;
          text-decoration: underline;
        }
      }
    }
  }

  .menu--main {

    ul.menu {
      margin-left: 0;

      a {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        padding: 0.5em 0;
      }

      ul.menu {
        margin-left: 1.5rem;

        a {
          font-weight: $font-weight-semibold;
          text-transform: inherit;
        }
      }

      li a.dashboard,
      li a.login {
        display: inline-block;
        padding-right: 3rem;
        background-repeat: no-repeat;
        color: $color-umass-maroon;
      }

      li a.login {
        background-image: url('../images/user-maroon.svg');
        background-size: 10px;
        background-position: 84% 1.3rem;
      }

      li a.dashboard {
        background-image: url('../images/compass-maroon.svg');
        background-size: 12px;
        background-position: 90% 1.3rem;
      }
    }
  }

  body.user-logged-in & .menu--main {

    li a.login {
      display: none;
    }
  }

  body.not-logged-in & .menu--main {

    li a.dashboard {
      display: none;
    }
  }

  .menu--social-media {
    margin: 0;
  }

  .social-menu {
    padding: 0 0 3rem;
    color: $color-umass-maroon;

    // Link overrides from global.css
    a,
    a:link {
      color: $color-umass-maroon;
    }

    a:visited {
      color: $color-umass-maroon;
    }

    a:hover {
      color: darken($color-umass-maroon, 10%);
    }

    a:active {
      color: darken($color-umass-maroon, 10%);
    }

    a:focus {
      outline: 3px solid $color-gold;
    }

    @media screen and (max-width: 374px) {

      .social-menu__item {
        margin: 0.75rem;
      }

      .social-menu__item .icon {
        width: 3rem;
      }
    }
  }
}
