// Import site utilities.
@import '../../global/utils/init';

.faq-container {
  padding: 0;
}

.accordion__wrapper {
  position: relative;
  @include layout-content-narrow;
}

//modifier styles
.accordion__wrapper--background-gray-lt {
  background-color: $color-gray-lt;
  padding: 5rem 4rem;

  .accordion {
    border-bottom: 1px solid $color-gray-ada-lg;
  }
}
