<section style="background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('')" class="page-summary-image page-summary-image--without-button">

  <div class="page-summary-image__content">

          <div class="page-summary-image__summary-text">
        <p>UMass Amherst is building a legacy dedicated to providing students from around the world with access to an exceptional education. As our graduates leave us to enter into a new world of possibilities, their passion and revolutionary spirit guide them toward changing things for the better however they can.</p>
      </div>
    
    
  </div>
</section>