@import '../../global/utils/init';

// Header region styles are in the regions component style sheet
// You can add these variables to your _base.scss
$superfish-1-color: #151515;
$superfish-1-background-color-level-first: #ffffff;
$superfish-1-background-color-level-second: #ffffff;
$superfish-1-background-color-level-third: #ffffff;
$superfish-1-background-color-level-fourth: #ffffff;

#block-mainnavigation {

  ul {
    padding-left: 0;
  }

  ul.sf-menu.sf-horizontal.sf-shadow ul {
    box-shadow: 0 0 0.5rem 0 rgba(74, 74, 74, 0.5);
  }

  ul.sf-menu.sf-horizontal {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $color-black;
    font-weight: $font-weight-semibold;
    line-height: 1;
    padding: 1.2rem 1.6rem;

    &.sf-with-ul {
      padding-right: 3rem;
    }
  }

  a.sf-depth-1 {
    transition: border 0.3s ease-in-out;
  }

  a.sf-depth-1,
  li.sfHover.sf-no-children a.sf-depth-1:focus {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding-top: 1.2rem;
    padding-bottom: 0.99rem;
    border-bottom: 0.3rem solid $color-white;
  }

  li.sfHover a.sf-depth-1,
  a.sf-depth-1:hover,
  a.sf-depth-1:active {
    border-bottom: 0.3rem solid $color-gold;
  }

  li.sf-depth-2 a:hover,
  li.sf-depth-2 a:active {
    text-decoration: underline;
    color: $color-umass-maroon;
  }

  li {
    background: $superfish-1-background-color-level-first;

    li {
      background: $superfish-1-background-color-level-second;

      li {
        background: $superfish-1-background-color-level-third;
      }
    }

    &:hover,
    &.sfHover {
      background: $superfish-1-background-color-level-fourth;
      // outline: 0;

      > ul {
        top: 4.1rem;

        @media screen and (min-width: 921px) {
          left: 50%;
          transform: translateX(-50%);
        }

        li {
          padding: 0 2rem;

          a {
            line-height: 1.5;
          }
        }

        li:first-child {
          padding: 2.5rem 2rem 0;
        }

        li:last-child {
          padding: 0 2rem 2.5rem;
        }
      }
    }
  }

  .sf-sub-indicator {
    background-image: url('../images/caret-down-black.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 0 -2px;
  }

  .sf-sub-indicator::after {
    content: '';
  }

  li.sf-depth-1 a.dashboard,
  li.sf-depth-1 a.login {
    padding-right: 3rem;
    background-repeat: no-repeat;
    color: $color-umass-maroon;
  }

  li.sf-depth-1 a.login {
    background-image: url('../images/user-maroon.svg');
    background-size: 10px;
    background-position: 84% 1.4rem;
  }

  li.sf-depth-1 a.dashboard {
    background-image: url('../images/compass-maroon.svg');
    background-size: 12px;
    background-position: 90% 1.4rem;
  }
}

#block-mainnavigation li#main-standardfront-page {
  @include element-invisible;
}

body.not-logged-in.path-search #block-mainnavigation,
body.user-logged-in #block-mainnavigation {

  li#main-menu-link-contentfdb309ba-6b4e-449a-bfef-4630f345e03c,
  li.sf-depth-1 a.login {
    display: none;
  }
}

body.not-logged-in #block-mainnavigation {

  li#main-menu-link-content0ca5aeac-41b5-4e68-8ff0-ae0ba4961041,
  li.sf-depth-1 a.dashboard {
    display: none;
  }
}

body.not-logged-in.path-search #block-mainnavigation {

  li#main-menu-link-content0ca5aeac-41b5-4e68-8ff0-ae0ba4961041,
  li.sf-depth-1 a.dashboard {
    display: block;
  }
}
