{{ attach_library('uma_daris/accordion') }}

<section class="accordion__wrapper{{ modifier ? ' ' ~ modifier }}{{ attributes ? ' ' ~ attributes.class}}"
{{- attributes ? attributes|without(class) -}}>
  {% if heading %}
  {# title_prefix and _suffix are required to get the edit view contextual menu on mouse over the title element #}
  {{ title_prefix }}
    {%
      include '@uma_daris/heading-twolines/heading-twolines.twig' with {
        "heading": heading
      } only
    %}
  {{ title_suffix }}
  {% endif %}
  {% block accordion_items %}
    {% for item in items %}
      {% set counter = ( counter | default(0) ) + 1 %}
      {%
        include '@uma_daris/accordion-item/accordion-item.twig' with {
          "heading": item.heading,
          "content": item.content,
          "accordion_instance": counter
        } only
      %}
    {% endfor %}
  {% endblock %}
</section>
