<form action="#">
  <fieldset class="options">
    <legend>Radio</legend>
    <div class="form-item form-type-radio">
      <input id="radio1" name="radio" type="radio" class="radio" checked="checked"><label for="radio1">Option 1</label>
    </div>
    <div class="form-item form-type-radio">
      <input id="radio2" name="radio" type="radio" class="radio"><label for="radio2">Option 2</label>
    </div>
    <div class="form-item form-type-radio">
      <input id="radio3" name="radio" type="radio" class="radio"><label for="radio3">Option 3</label>
    </div>
  </fieldset>
</form>