<figure class="media-item" >
    
      <div class="media-item__responsive-video">
      <iframe width='560' height='315' src='https://www.youtube-nocookie.com/embed/eKmbSupbOOc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
    </div>
          <figcaption class="media-item__caption">
      Example video caption.
    </figcaption>
  </figure>