{{ attach_library('uma_daris/directory-list') }}

<section class="directory-list{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% if heading %}
  {# title_prefix and _suffix are required to get the edit view contextual menu on mouse over the title element #}
  {{ title_prefix }}
    {%
      include '@uma_daris/heading-twolines/heading-twolines.twig' with {
        "heading": heading
      } only
    %}
  {{ title_suffix }}
  {% endif %}
  <ul class="directory-list__items">
    {% block directory_items %}
      {#
        This for loop is only used to display the directory list
        in Pattern Lab. Drupal will override this twig block by wrapping the directory-entry component in the li as written in the src/templates/views/views-view-unformatted--directory.html.twig template override
      #}
      {% for item in items %}
        <li class="directory-list__item">
          {%
            include '@uma_daris/directory-entry/directory-entry.twig' with {
              "image": item.image,
              "heading": item.heading,
              "position": item.position,
              "phone": item.phone,
              "email": item.email,
              "location": item.location,
              "modifier": "directory-list__item"
            } only
          %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>
</section>
