<fieldset>
  <div class="field-container">
    <label for="txt">Text input</label>
    <input type="text" id="txt" name="firstname">
  </div>
  <div class="field-container">
    <label for="passwd">Password input</label>
    <input type="password" id="passwd" name="password">
  </div>
  <div class="field-container">
    <label for="em">eMail input</label>
    <input type="email" id="em" name="email">
  </div>
  <div class="field-container">
    <label for="ta">Text area input</label>
    <textarea id="ta" name="textarea"
  rows="5"></textarea>
  </div>
  <div class="field-container">
    <label for="ic">Color input</label>
    <input type="color" id="ic" value="#000000">
  </div>
  <div class="field-container">
    <label for="in">Number input</label>
    <input type="number" id="in" min="0" max="10" value="5">
  </div>
  <div class="field-container">
    <label for="ir">Range input</label>
    <input type="range" id="ir" value="10">
  </div>
  <div class="field-container">
    <label for="idd">Date input</label>
    <input type="date" id="idd" value="1970-01-01">
  </div>
  <div class="field-container">
    <label for="idm">Month input</label>
    <input type="month" id="idm" value="1970-01">
  </div>
  <div class="field-container">
    <label for="idw">Week input</label>
    <input type="week" id="idw" value="1970-W01">
  </div>
  <div class="field-container">
    <label for="idt">Datetime input</label>
    <input type="datetime" id="idt" value="1970-01-01T00:00:00Z">
  </div>
  <div class="field-container">
    <label for="idtl">Datetime-local input</label>
    <input type="datetime-local" id="idtl" value="1970-01-01T00:00">
  </div>
</fieldset>