<article class="faq">
  <h1 class="faq__heading">Who should I contact with questions about my contribution?</h1>
  <div class="faq__content">
          <p>The Office of Annual Giving is available to answer all questions about contributions to UMass Amherst at (866) 450-8627 or <a href='mailto:giving@admin.umass.edu'>giving@admin.umass.edu</a>.</p>
      </div>
</article>