{{ attach_library('uma_daris/faq') }}

<article class="faq{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
  <h1 class="faq__heading">{{ heading }}</h1>
  <div class="faq__content">
    {% block faq_content %}
      {{ content }}
    {% endblock %}
  </div>
</article>
