// Import site utilities.
@import '../../global/utils/init';

.text-media-sidebar {
  @include layout-content;
  @include space-between-xsm;
}

.text-media-sidebar__heading {
  @include heading-3-style;
  max-width: 600px;
  margin: 0;

  @include breakpoint($bp-md) {
    max-width: 800px;
    margin: 0;
  }
}

.text-media-sidebar__content {
  @include global-typography;

  @include breakpoint ($bp-sm) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .text-media-sidebar__paragraph-text {
    max-width: 800px;
    min-width: 55%;
  }

  .media-item {
    margin: 1.4rem 0 2rem;

    @include breakpoint ($bp-sm) {
      order: 2;
      margin: 2rem 0 0 4.5rem;
      max-width: 345px;
      width: 100%;
    }

    @include breakpoint ($bp-md) {
      margin-left: 5.5rem;
    }
  }

  .text-media-sidebar--with-image & .media-item {
    @include breakpoint ($bp-under-sm) {
      max-width: 480px;
    }
  }
}
