{{ attach_library('uma_daris/media-item') }}

<figure class="media-item{{ modifier ? ' ' ~ modifier }}" {{ extra_attributes }}>
  {#
    Optional: Pass in Drupal specific functionality.
    Note that this is mostly relevant to nodes and blocks.
  #}
  {#
    {{ title_prefix }}
    {{ title_suffix }}
  #}

  {% if video %}
    <div class="media-item__responsive-video">
      {{ video }}
    </div>
  {% else %}
    <div class="media-item__image">
      {{ image }}
    </div>
  {% endif %}
  {# Captions are optional. #}
  {% if caption %}
    <figcaption class="media-item__caption">
      {{ caption }}
    </figcaption>
  {% endif %}
</figure>
