<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='/advancement/themes/custom/uma_daris/dist/images/ADV_Vision_Chancellor_690.jpg' alt='Group photo' />
    </div>
          <figcaption class="media-item__caption">
      Example image caption.
    </figcaption>
  </figure>