<section class="accordion__wrapper">
      
    

  
<h2 id=faq class="heading-twolines heading-twolines__single-line" >

  
        <span class="heading-twolines__line-1">FAQ</span>
    
    
  
</h2>

  
                    


<article class="accordion">

  
  

  <button type="button" class="accordion__toggle" aria-controls="accordion__content-1" aria-expanded="false" id="accordion__toggle-1" aria-selected="false">
    <h3 class="accordion__heading">
      What is the best way to submit a request for Marketing & Communications (MarCom) support?
    </h3>
      <svg aria-hidden="true" role="img" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><title>caret down</title><!-- Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path fill="#881c1c" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>

  </button>
  <div class="accordion__content" id="accordion__content-1" aria-hidden="true" aria-labelledby="accordion__content-1">
          <p>Please use the <a href="#">Project Request form</a> to request:</p> <ul> <li>design, content development, or general marketing assistance</li> <li>email marketing lists, email creation, or broadcast dates</li> <li>Tableau reporting</li> </ul> <p>If you’re not certain of your project needs, you may also contact us at <a href="#">test@umass.edu</a>.</p>
      </div>
</article>
                


<article class="accordion">

  
  

  <button type="button" class="accordion__toggle" aria-controls="accordion__content-2" aria-expanded="false" id="accordion__toggle-2" aria-selected="false">
    <h3 class="accordion__heading">
      What is Tableau and how can I access reports there?
    </h3>
      <svg aria-hidden="true" role="img" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><title>caret down</title><!-- Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path fill="#881c1c" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>

  </button>
  <div class="accordion__content" id="accordion__content-2" aria-hidden="true" aria-labelledby="accordion__content-2">
          <p>Tableau is a data visualization software that can combine data from multiple sources to create interactive and visually clear reporting. The university has purchased an enterprise license for Tableau, meaning any university employee can access and utilize Tableau to create or to share reports.</p> <p>To access reports, send your Net ID and email address to First Last at <a href="mailto:first.last@umass.edu">first.last@umass.edu</a>, First Last at <a href="mailto:first.last@umass.edu">first.last@umass.edu</a>, and First Last at <a href="mailto:first.last@umass.edu">first.last@umass.edu</a> for approval and account setup with UMass IT.</p>
      </div>
</article>
                


<article class="accordion">

  
  

  <button type="button" class="accordion__toggle" aria-controls="accordion__content-3" aria-expanded="false" id="accordion__toggle-3" aria-selected="false">
    <h3 class="accordion__heading">
      I am unable to log into the Tableau dashboards, what should I do?
    </h3>
      <svg aria-hidden="true" role="img" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><title>caret down</title><!-- Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path fill="#881c1c" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>

  </button>
  <div class="accordion__content" id="accordion__content-3" aria-hidden="true" aria-labelledby="accordion__content-3">
          <p>Please try the following:</p> <ul> <li>Check your Global Protect VPN connection (Global Protect needs to be connected).</li> <li>Be sure you are using your Net ID and not your Advance username.</li> <li>If you have multiple Net IDs, please use the one provided to the DIS team when your Tableau account was originally setup.</li> </ul> <p>Contact First Last at <a href="mailto:first.last@umass.edu">first.last@umass.edu</a> or First Last at <a href="mailto:first.last@umass.edu">first.last@umass.edu</a> for further troubleshooting.</p>
      </div>
</article>
      </section>