<h3>UMass Maroon</h3>
      <div class="pl-swatch" style="background-color: #881c1c">
      <div class="pl-swatch__hex">$color-umass-maroon<br>#881c1c</div>
    </div>
    <h3>UMass black &amp; white</h3>
      <div class="pl-swatch" style="background-color: #151515">
      <div class="pl-swatch__hex">$color-black<br>#151515</div>
    </div>
      <div class="pl-swatch" style="background-color: #FFFFFF">
      <div class="pl-swatch__hex">$color-white<br>#FFFFFF</div>
    </div>
    <h3>UMass neutral grays</h3>
      <div class="pl-swatch" style="background-color: #4a4a4a">
      <div class="pl-swatch__hex">$color-gray-dk<br>#4a4a4a</div>
    </div>
      <div class="pl-swatch" style="background-color: #ccc">
      <div class="pl-swatch__hex">$color-gray-mid<br>#ccc</div>
    </div>
      <div class="pl-swatch" style="background-color: #e9e9e9">
      <div class="pl-swatch__hex">$color-gray-lt<br>#e9e9e9</div>
    </div>
      <div class="pl-swatch" style="background-color: #f8f8f8">
      <div class="pl-swatch__hex">$color-gray-xlt<br>#f8f8f8</div>
    </div>
    <h3>UMass secondary colors</h3>
      <div class="pl-swatch" style="background-color: #a89968">
      <div class="pl-swatch__hex">$color-gold<br>#a89968</div>
    </div>
      <div class="pl-swatch" style="background-color: #d50032">
      <div class="pl-swatch__hex">$color-red<br>#d50032</div>
    </div>
      <div class="pl-swatch" style="background-color: #ffc721">
      <div class="pl-swatch__hex">$color-yellow<br>#ffc721</div>
    </div>
    <h3>Primary</h3>
      <div class="pl-swatch" style="background-color: #EC5f67">
      <div class="pl-swatch__hex">$color-mandy<br>#EC5f67</div>
    </div>
      <div class="pl-swatch" style="background-color: #F99157">
      <div class="pl-swatch__hex">$color-tan-hide<br>#F99157</div>
    </div>
      <div class="pl-swatch" style="background-color: #FAC863">
      <div class="pl-swatch__hex">$color-saffron-mango<br>#FAC863</div>
    </div>
      <div class="pl-swatch" style="background-color: #99C794">
      <div class="pl-swatch__hex">$color-de-york<br>#99C794</div>
    </div>
      <div class="pl-swatch" style="background-color: #5FB3B3">
      <div class="pl-swatch__hex">$color-tradewind<br>#5FB3B3</div>
    </div>
      <div class="pl-swatch" style="background-color: #6699CC">
      <div class="pl-swatch__hex">$color-danube<br>#6699CC</div>
    </div>