{{ attach_library('uma_daris/heading-twolines') }}

{% if heading.line_1 is empty or heading.line_2 is empty %}
  {% set heading_class = 'heading-twolines__single-line' %}
{% endif %}

{# Eventually, the heading.heading_id code could be used to create an anchor widget like that used on css-tricks; for now, it at least provides an id target for an anchor link (double quotes are automatically added around heading.heading_id in both patternlab and Drupal, so they aren't needed in the code below) #}
<h{{ heading.heading_level|default('1') }}{{ heading.heading_id ? ' id=' ~ heading.heading_id }} class="heading-twolines{{ heading.modifier ? ' ' ~ heading.modifier }}{{ heading_class ? ' ' ~ heading_class }}" {{ extra_attributes }}>

  {% if heading.url %}
    <a href="{{ heading.url }}" class="heading-twolines__link">

      {% if heading.line_1 %}
      <span class="heading-twolines__line-1">{{ heading.line_1 }}</span>
      {% endif %}

      {% if heading.line_2 %}
      <span class="heading-twolines__line-2">{{ heading.line_2 }}</span>
      {% endif %}

    </a>

  {% else %}

    {% if heading.line_1 %}
    <span class="heading-twolines__line-1">{{ heading.line_1 }}</span>
    {% endif %}

    {% if heading.line_2 %}
    <span class="heading-twolines__line-2">{{ heading.line_2 }}</span>
    {% endif %}

  {% endif %}

</h{{ heading.heading_level|default('1') }}>

{% if heading.subtitle %}

<p>{{ heading.subtitle }}</p>

{% endif %}
