<div role="contentinfo" aria-label="Status message" class="message message--status">
                  <h2 class="visually-hidden message__heading">Status message</h2>
                    This is a status message <a href='#'>with a link</a>.
            </div>
  <div role="contentinfo" aria-label="Warning message" class="message message--warning">
                  <h2 class="visually-hidden message__heading">Warning message</h2>
                    This is a warning message <a href='#'>with a link</a>.
            </div>
  <div role="contentinfo" aria-label="Error message" class="message message--error">
          <div role="alert">
                  <h2 class="visually-hidden message__heading">Error message</h2>
                    This is a error message <a href='#'>with a link</a>.
                </div>
      </div>