// Paragraphs
//
// Some global styles, but also styles for paragraphs that output some or all content directly from Drupal template overrides.

.block__heading,
.embed__heading,
.block--curator-embed h2.heading-3-style {
  @include heading-3-style;
  max-width: 800px;
  margin-bottom: 1.8rem;

  @include breakpoint($bp-md) {
    margin-bottom: 2.6rem;
  }
}

.region-content .paragraph--type--block,
.region-content .paragraph--type--embed,
.region-content .block--curator-embed {
  @include layout-content;
  @include space-between-sm;
}

// NOTE: added block--uma-daris-content.html.twig for this first selector
// NB: Will need to add this paragraph type for text and then add any other selectors here for WYSIWYG fields that need to have these vertical space settings

.paragraph--type--text-pub {
  @include space-between-sm;

  &__content {
    max-width: 900px;
  }
}

.paragraph--type--text-pub,
.paragraph--type--block {
  @include global-typography;
}
