<section class="card-list card-list--two-column-max">
      

  
<h2 class="heading-twolines heading-twolines__single-line" >

  
        <span class="heading-twolines__line-1">Internal Announcements</span>
    
    
  
</h2>


<p><em>Learn what's happening in Advancement units</em></p>

    <ul class="card-list__items">
                        <li class="card-list__item">
          

<article class="card  card-list__item">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/I_love_UMass_opt2_690x460_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>Foundation Relations</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span></span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link">Find new funding opportunities</a>
  
</h3>
      
    
          <div class="card__summary">
        <p>Foundation relations has released their latest Foundation Funding Guide which includes current RFPs and best practices for foundation outreach.</p>
      </div>
    
  </div>

</article>
        </li>
              <li class="card-list__item">
          

<article class="card  card-list__item">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/Royalty_690x460_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>Annual Giving</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span></span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link">Get ready for UMass Gives</a>
  
</h3>
      
    
          <div class="card__summary">
        <p>Our annual giving days in 2021 will span April 28-29!</p>
      </div>
    
  </div>

</article>
        </li>
              <li class="card-list__item">
          

<article class="card  card-list__item">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/OldChapel_690x460_opt3_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>Alumni Association</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span>Annual Giving</span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link">What's the plan?</a>
  
</h3>
      
    
          <div class="card__summary">
        <p>Get your first look at the Spring 2021 semester reopening.</p>
      </div>
    
  </div>

</article>
        </li>
              <li class="card-list__item">
          

<article class="card  card-list__item">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/I_love_UMass_opt1_690x460_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>UMass Magazine</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span></span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link"><cite>UMass Magazine</cite> winter issue out now</a>
  
</h3>
      
    
          <div class="card__summary">
        <p>Connect with alumni on the stories they care about.</p>
      </div>
    
  </div>

</article>
        </li>
            </ul>

            <li class="card-list__item card-list__item--attachments">
        

<article class="card  card-list__item">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/I_love_UMass_opt2_690x460_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>Foundation Relations</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span></span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link">Find new funding opportunities</a>
  
</h3>
      
    
          <div class="card__summary">
        <p>Foundation relations has released their latest Foundation Funding Guide which includes current RFPs and best practices for foundation outreach.</p>
      </div>
    
  </div>

</article>
      </li>
          <li class="card-list__item card-list__item--attachments">
        

<article class="card  card-list__item">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/Royalty_690x460_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>Annual Giving</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span></span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link">Get ready for UMass Gives</a>
  
</h3>
      
    
          <div class="card__summary">
        <p>Our annual giving days in 2021 will span April 28-29!</p>
      </div>
    
  </div>

</article>
      </li>
          <li class="card-list__item card-list__item--attachments">
        

<article class="card  card-list__item">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/OldChapel_690x460_opt3_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>Alumni Association</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span>Annual Giving</span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link">What's the plan?</a>
  
</h3>
      
    
          <div class="card__summary">
        <p>Get your first look at the Spring 2021 semester reopening.</p>
      </div>
    
  </div>

</article>
      </li>
          <li class="card-list__item card-list__item--attachments">
        

<article class="card  card-list__item">
    
  <div class="card__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/I_love_UMass_opt1_690x460_color.jpg' alt='' />
  </div>
  <div class="card__content">
                  

<ul class="tags">
      <li class="tag__item">
      <span>
              <span>UMass Magazine</span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span></span>
            </span>
    </li>
  </ul>
          
          
      

<h3 class="heading card__heading" >

      <a href="#" class="heading__link"><cite>UMass Magazine</cite> winter issue out now</a>
  
</h3>
      
    
          <div class="card__summary">
        <p>Connect with alumni on the stories they care about.</p>
      </div>
    
  </div>

</article>
      </li>
      
      <div class="card-list__more-button">
    

  <a href="#" class="button">
    More Announcements
  </a>
  </div>
    </section>