// Import site utilities.
@import '../../global/utils/init';

.path-directory .views-exposed-form {
  display: flex;
  flex-wrap: wrap;

  .form-item-unit {
    max-width: 100%;
  }

  .form-item-keys {
    flex-grow: 1;
    margin-right: 0;
  }

  .form-actions {
    width: 100%;

    @media all and (max-width: 374px) {

      input {
        width: 100%;
      }

      input#edit-submit-directory {
        margin-bottom: 2rem;
      }
    }
  }
}

.directory-list {
  clear: both;
}

.directory-list .heading-twolines {
  @include heading-3-style;
}

.directory-list__items {
  list-style-type: none;
  margin-top: 6vw;

  @include breakpoint(500px) {
    margin-top: 4vw;
  }

  @include breakpoint($bp-sm) {
    margin-top: 48px;
  }

  @include breakpoint(396px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .directory-list__item {
    margin: 0;
  }
}

.directory-list--three-column-max {
  max-width: 914px;

  .directory-list__items {
    margin-left: -0.7rem;
    margin-right: -0.7rem;

    li.directory-list__item {
      width: inherit;
      margin-bottom: 12vw;
      padding-left: 0.7rem;
      padding-right: 0.7rem;

      @media screen and (min-width: 396px) and (max-width: 599px) {
        width: 50%;//192px width minimum before dropping a column
        margin-bottom: 10vw;
      }

      @media screen and (min-width: 600px) and (max-width: 767px) {
        width: 33.333333%;
        margin-bottom: 8vw;
      }

      @media screen and (min-width: 768px) and (max-width: 886px) {
        width: 50%;
        margin-bottom: 9vw;
      }

      @media screen and (min-width: 887px) {
        width: 33.333333%;//290/900 -> 3 cols
        margin-bottom: 8vw;
      }

      @include breakpoint(900px) {
        margin-bottom: 72px;
      }
    }
  }
}

.directory-list--four-column-max {
  max-width: 1214px;

  .directory-list__items {
    margin-left: -0.7rem;
    margin-right: -0.7rem;

    li.directory-list__item {
      width: inherit;
      margin-bottom: 12vw;
      padding-left: 0.7rem;
      padding-right: 0.7rem;

      @include breakpoint(396px) {
        width: 50%;//192px width minimum before dropping a column
        margin-bottom: 10vw;
      }

      @include breakpoint(600px) {
        width: 33.333333%;//290/900 -> 3 cols
        margin-bottom: 8vw;
      }

      @include breakpoint(900px) {
        width: 25%;//290/1200 -> 4 cols
        margin-bottom: 72px;
      }
    }
  }
}
