@import '../../global/utils/init';

.heading__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.heading-twolines__line-1,
.heading-twolines__line-2 {
  display: block;
}

.heading-twolines__line-1 {
  font-size: 2.8rem;
  line-height: 2.9rem;

  @include breakpoint($bp-md) {
    font-size: 4.8rem;
    line-height: 4.9rem;
  }
}

.heading-twolines__single-line {

  .heading-twolines__line-1,
  .heading-twolines__line-2 {
    font-size: inherit;
    line-height: inherit;
  }
}


h1.heading-twolines {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 920px) {

  .views-element-container h1.heading-twolines {
    padding-top: 4.5rem;
  }
}
