{{ attach_library('uma_daris/directory-entry') }}

<article class="directory-entry{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>

  {{ title_prefix }}
  {{ title_suffix }}

  <div class="directory-entry__image">
    {{ image }}
  </div>
{# modifiers for headings should go in the Drupal template set statement #}
  <div class="directory-entry__content">

    {% if heading.title %}
      {%
        include '@uma_daris/heading/heading.twig' with {
          "heading": heading
        } only
      %}
    {% endif %}

    {% if position %}
      <div class="directory-entry__position">
        {{ position }}
      </div>
    {% endif %}

    {# https://www.drupal.org/project/drupal/issues/2004144#comment-13383506 #}
    {% if phone %}
      <div class="directory-entry__phone">
        {{ phone }}
      </div>
    {% endif %}

    {% if email %}
      <div class="directory-entry__email">
        <a href="mailto:{{ email }}">{{ email }}</a>
      </div>
    {% endif %}

    {% if location %}
      <div class="directory-entry__location">
        {{ location }}
      </div>
    {% endif %}

  </div>
</article>
