<article class="directory-entry">

  
  

  <div class="directory-entry__image">
    <img src='/advancement/themes/custom/uma_daris/dist/images/placeholder-headshot.jpg' alt='First Last' />
  </div>
  <div class="directory-entry__content">

          

<h3 class="heading directory-entry__heading" >

      <a href="#" class="heading__link">First Last</a>
  
</h3>
    
          <div class="directory-entry__position">
        Director of Communications
      </div>
    
              <div class="directory-entry__phone">
        413-577-0000
      </div>
    
          <div class="directory-entry__email">
        <a href="mailto:First.Last@umass.edu">First.Last@umass.edu</a>
      </div>
    
          <div class="directory-entry__location">
        Campus Location TBD
      </div>
    
  </div>
</article>