// Import site utilities
@import '../../global/utils/init';

.tags {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag__item {
  @include eyebrow-text;
  @include text-links;

  //   span::after {
  //     content: ',';
  //   }
  //
  //   &:last-child span::after {
  //     content: '';
  //   }

  // linked tags will need more space between
  a {
    line-height: 2rem;
  }
}
