<form action="#">
  <fieldset class="options">
    <legend>Checkbox <abbr title="Required">*</abbr></legend>
    <div class="form-item form-type-checkbox">
      <input id="checkbox1" name="checkbox" type="checkbox" checked="checked"><label for="checkbox1">Choice A</label>
    </div>
    <div class="form-item form-type-checkbox">
      <input id="checkbox2" name="checkbox" type="checkbox"><label for="checkbox2">Choice B</label>
    </div>
    <div class="form-item form-type-checkbox">
      <input id="checkbox3" name="checkbox" type="checkbox"><label for="checkbox3">Choice C</label>
    </div>
  </fieldset>
</form>
