{#
/**
 * @file
 * Theme implementation to display a Card List paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{%
  embed "@uma_daris/card-list/card-list.twig" with {
    "section_title": content.field_title|render,
    "heading_level": "h1",
    "cards": content.field_card,
    "modifier": attributes.addClass(classes).class,
    "extra_attributes": attributes|without(class)
  } only
%}
  {% block card_items %}
    {{ cards }}
  {% endblock card_items %}
{% endembed %}
