@import '../../global/utils/init';

.media-item {
  margin: 0;
}

.media-item__image {

  img {
    display: block;
  }
}

.media-item__caption {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2rem;
  margin-top: 1rem;
  max-width: 100%;
  word-wrap: break-word;
}

// Responsive styles for YouTube video embed.
.media-item__responsive-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  video {
    width: 100%;
  }
}

.media-item-paragraph--with-image,
.media-item-paragraph--with-video {
  @include layout-content;
  @include space-between-sm;
  max-width: 1470px;

  .media-item__caption {
    max-width: 1300px;
    margin: 1.5rem auto 0;//auto left and right
    @include breakpoint ($bp-under-sm) {
      margin-top: 1rem;
    }
  }
}
