@import '../../global/utils/init';

// Prevents long words and URLs from breaking out of the page, especially on mobile
.page-layout-wrapper {
  overflow: hidden;
}

// Header layout

.region-header {
  @include layout-content;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

// Two column layout for main
// when there is a sidebar.

@include breakpoint($bp-under-sm) {

  .main-wrapper .sidebar {
    display: none;
  }
}

// .main-wrapper.no-sidebar #block-uma-daris-local-tasks,
// .main-wrapper.no-sidebar .system-messages-block-wrapper,
// .main-wrapper.no-sidebar .block-local-actions-block,
.main-wrapper.no-sidebar .region-content,
.main-wrapper.no-sidebar .paragraph--type--text-pub,
.node--type-directory-entry .main-wrapper.no-sidebar .region-content,
.path-directory .main-wrapper.no-sidebar .region-content {
  @include layout-content;
}

.node--type-unit-page .main-wrapper.no-sidebar .region-content {
  @include layout-content-narrow;
}

.node--type-public-page .main-wrapper.no-sidebar {

  #block-uma-daris-local-tasks,
  .system-messages-block-wrapper,
  .block-local-actions-block {
    @include layout-content;
  }

  .region-content {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.main-wrapper.no-sidebar #block-uma-daris-local-tasks,
.main-wrapper.no-sidebar .system-messages-block-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.main-wrapper.sidebar-layout {
  @include layout-content;
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-sm) {
    flex-direction: row;
  }

  .region-content {
    flex: 3;
    padding: 0;
  }

  .sidebar {
    flex: 1;

    @include breakpoint($bp-sm) {
      max-width: 300px;
      min-width: 250px;
      padding: 0 0 0 3.5rem;
    }
  }
}

.path-search .main-wrapper.sidebar-layout {
  @include breakpoint($bp-sm) {
    flex-direction: row-reverse;
  }

  .sidebar {
    @include breakpoint($bp-sm) {
      padding: 0 3.5rem 0 0;
    }
  }
}

// footer

.page-footer {
  margin-top: 5rem;
}

// Footer first layout

.region-footer-first {
  @include layout-content;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;

  @include breakpoint($bp-sm) {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
}

// Footer second layout
//.region-footer-second {
//full-bleed block lays out footer second
//}
