<article class="update ">

  
  

<h2 class="heading update__heading" >

      Advancement Update
  
</h2>
  

  <div class="update__content">

      <div class="update__summary-text">
      <p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus vel facilisis volutpat est. Fermentum et sollicitudin ac orci phasellus egestas. Cursus euismod quis viverra nibh cras pulvinar mattis nunc sed. Lacinia at quis risus sed vulputate odio ut enim blandit. Sollicitudin aliquam ultrices sagittis orci a scelerisque.</p></p>
    </div>
  
      <div class="update__button">
      

  <a href="#" class="button">
    Read More
  </a>
    </div>
  
  </div>
</article>