// Import site utilities.
@import '../../global/utils/init';

.page-summary-image {
  background-color: #222;// this fall-back color screens to match color-gray-lt with 0.9a white on top when there is no background image
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .page-summary-image__content {
    @include layout-content;
    @include space-between-lg;
    padding-top: 1.5rem;
    padding-bottom: 2.4rem;

    @include breakpoint ($bp-sm) {
      padding-top: 2.8rem;
      padding-bottom: 4.5rem;
    }
  }

  & .page-summary-image__summary-text {
    max-width: 900px;

    p {
      font-size: 1.8rem;
      line-height: 2.8rem;
      font-weight: $font-weight-semibold;
      color: $color-black;

      @include breakpoint($bp-sm) {
        font-size: 2.4rem;
        line-height: 3.4rem;
      }

      @include breakpoint($bp-md) {
        font-size: 3rem;
        line-height: 4.2rem;
      }
    }

    a:visited {
      color: $color-umass-maroon;
    }

    a:hover {
      color: $color-black;
      text-decoration: underline;
    }

    a:active {
      color: darken($color-gold, 18%);// gives 4.63:1 contrast ratio
      text-decoration: none;
    }
  }

  &.page-summary-image--without-button .page-summary-image__content {
    display: flex;
    justify-content: center;
  }

  &.page-summary-image--with-button .page-summary-image__content {
    @include breakpoint ($bp-sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &.page-summary-image--with-button .page-summary-image__summary-text {
    margin-right: 3.5rem;

    @include breakpoint ($bp-under-sm) {
      padding-bottom: 2rem;
      margin-right: 0;
    }
  }

  &.page-summary-image--with-button .page-summary-image__summary-button {
    text-align: center;
  }
}
