// Import site utilities.
@import '../../global/utils/init';

// library attached in views-view--search-page--search-page.html.twig
@media screen and (min-width: 768px) and (max-width: 920px) {

  .page-main {
    padding-top: 2.8rem;
  }
}

.views-element-container {

  .views-exposed-form .form-item-keywords {
    margin-right: 0;
    max-width: 50rem;
  }

  .item-list {

    h2 {
      @include heading-6-style;
      font-style: normal;
    }

    ul {
      margin: 4rem 0 2rem;
    }

    li {
      list-style: none;
      margin-bottom: 2rem;

      strong span {
        color: $color-black;
        background-color: lighten($color-gold, 30%);
        padding: 0 0.5rem;
      }
    }
  }
}
