{{ attach_library('uma_daris/media-entity') }}

<article class="media-entity {{ modifier ? ' ' ~ modifier }} {{- attributes ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>

  {%
    include '@uma_daris/heading/heading.twig' with {
      "heading": heading
    } only
  %}

  <div class="media-entity__content">

  {% if summary_text %}
  {# summary-text is required, but wrapping in if statement just in case #}
    <div class="media-entity__summary-text">
      {{ summary_text }}
    </div>
  {% endif %}

  {%
    include '@uma_daris/media-item/media-item.twig' with {
      "video": video,
      "caption": caption
    } only
  %}

  </div>
</article>
