<article class="media-entity ">

  

<h1 class="heading media-entity__heading" >

      Example Media Entity
  
</h1>

  <div class="media-entity__content">

        <div class="media-entity__summary-text">
      <p>Example summary text</p>
    </div>
  
  

<figure class="media-item" >
    
      <div class="media-item__responsive-video">
      <iframe width='560' height='315' src='https://www.youtube-nocookie.com/embed/eKmbSupbOOc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
    </div>
          <figcaption class="media-item__caption">
      Example video caption.
    </figcaption>
  </figure>

  </div>
</article>