<ul class="links-menu">
  <li class="links-menu__item">
    <a href="#" class="links-menu__link">
      Menu item 1
    </a>
  </li>
  <li class="links-menu__item">
    <a href="#" class="links-menu__link">
      Menu item 2
    </a>
  </li>
  <li class="links-menu__item">
    <a href="#" class="links-menu__link">
      Menu item 3
    </a>
  </li>
</ul>