{{ attach_library('uma_daris/links-menu') }}

{% if items %}
<ul class="links-menu{{ modifier ? ' ' ~ modifier }}">
{% for item in items %}
  <li class="links-menu__item">
    <a href="{{ item.url }}" class="links-menu__link">
      {{ item.title }}
    </a>
  </li>
{% endfor %}
</ul>
{% endif %}
