// Import site utilities.
@import '../../global/utils/init';

.update {
  @include space-between-lg;
  max-width: 773px;

  .update__heading {
    @include heading-3-style;
    margin: 0;
  }

  .update__content {
    @include global-typography;

    .update__button {
      text-align: center;

      .button {
        margin: 0;
      }
    }
  }
}
