{{ attach_library('uma_daris/update') }}

<article class="update {{ modifier ? ' ' ~ modifier }} {{- attributes ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>

  {{ title_prefix }}
  {%
    include '@uma_daris/heading/heading.twig' with {
      "heading": heading
    } only
  %}
  {{ title_suffix }}

{# <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time> #}
  <div class="update__content">

  {% if summary_text %}
    <div class="update__summary-text">
      <p>{{ summary_text }}</p>
    </div>
  {% endif %}

  {% if button %}
    <div class="update__button">
      {%
        include '@uma_daris/button/button.twig' with {
          "button": button
        } only
      %}
    </div>
  {% endif %}

  </div>
</article>
