<h2 class="visually-hidden">Primary tabs</h2>
  <ul class="tabs primary">
                          <li class="is-active">
          <a href="#view">View</a>
        </li>
                      <li class="">
          <a href="#edit">Edit</a>
        </li>
                      <li class="">
          <a href="#delete">Delete</a>
        </li>
                      <li class="">
          <a href="#revisions">Revisions</a>
        </li>
            </ul>