<ul class="menu list-unstyled{% if modifier %} {{ modifier }}{% endif %}
{{- attributes.class ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>
{{ title_prefix }}
{{ title_suffix }}

{% for item in items %}
  {% block menu_item %}
    <li class="menu-item" id=" {% if item.options.attributes.id is not empty %} {{ item.options.attributes.id|join(' ') }} {% endif %}">
      <a href="{{ item.url }}" class=" {% if item.options.attributes.class is not empty %} {{ item.options.attributes.class|join(' ') }} {% endif %}"{% if item.options.attributes.target is not empty %} target="{{ item.options.attributes.target }}"{% endif %}>{% if item.title %}{{ item.title }}{% else %}{{ item.text }}{% endif %}</a>
    </li>
  {% endblock %}
{% endfor %}
</ul>
