{{ attach_library('uma_daris/heading') }}

{# Defaults to heading level 2 if no heading level is supplied. #}
{# Eventually, the heading.heading_id code could be used to create an anchor widget like that used on css-tricks; for now, it at least provides an id target for an anchor link (double quotes are automatically added around heading.heading_id in both patternlab and Drupal, so they aren't needed in the code below) #}
<h{{ heading.heading_level|default('2') }}{{ heading.heading_id ? ' id=' ~ heading.heading_id }} class="heading{{ heading.modifier ? ' ' ~ heading.modifier }}" {{ extra_attributes }}>

  {% if heading.url %}
    <a href="{{ heading.url }}" class="heading__link">{{ heading.title }}</a>
  {% else %}
    {{ heading.title }}
  {% endif %}

</h{{ heading.heading_level|default('2') }}>
