// Breakpoints.
// https://gs.statcounter.com/screen-resolution-stats/all/united-states-of-america
// distribution is pretty bi-modal: the vast majority of users are either at one end (360 to 414px wide) or the other (1280 or 1366 to 1920px)

$bp-under-xxsm: 'max-width: 413px';// All iPhones widths smaller smaller than the max (not landscape)
$bp-under-xsm: 'max-width: 543px';
$bp-under-sm: 'max-width: 767px';// smaller than iPads
// no media query covers really small device widths like 320px (old iPhones)
$bp-xxxsm: 375px;// iPhones up
$bp-xxsm: 414px;// big iPhones up
$bp-xsm: 544px;// arbitrarily in the middle
$bp-sm: 768px;// iPads up
$bp-md: 1024px;
$bp-lg: 1270px;
$bp-xl: 1400px;// DARIS max layout width

// Expects $viewport to either be a number: 200px
// Or a string: 'max-width: 300px'
//
// Usage:
// .foo__bar {
//   margin-left: 16px;
//   margin-right: 16px;

//   @include breakpoint($bp-md) {
//     margin-left: 24px;
//     margin-right: 24px;
//   }
// }
@mixin breakpoint($viewport) {
  @if type-of($viewport) == number {
    @media screen and ( min-width: $viewport ) {
      @content;
    }
  }
  @else {
    @media screen and ( $viewport ) {
      @content;
    }
  }
}
