// Add max-width.
.container {
  @include layout-content;
}

// Use horizontal align plugin.
.horizontal-align {
  @include horizontal-align;
}

// Use vertical align plugin.
.vertical-align {
  @include vertical-align;
}

// Use center align plugin (horz and vert).
.center-align {
  @include center-align;
}

// Use to make wide tables responsive (sideways scrollable with drop shadow hint)
.table-wrapper {
  @include table-wrapper;
}
