// Mixins.

// NOTE: heading mixins are in _typography.scss

// Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Adds box-shadow to darken.
// Can be used on hovers.
@mixin darken {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.5);
}

@mixin text-links {
  a,
  a:link {
    color: $color-umass-maroon;
    text-decoration: underline;
  }

  a:visited {
    color: $color-gray-dk;
  }

  a:hover {
    color: $color-black;
    text-decoration: underline;
  }

  a:active {
    color: darken($color-gold, 13%);// gives 4.5:1 contrast ratio
    text-decoration: none;
  }

  a:focus {
    outline: 3px solid $color-gold;
    text-decoration: underline;
  }
}

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin eyebrow-text {
  font-size: 1.6rem;
  font-weight: $font-weight-extrabold;
  color: $color-umass-maroon;
  text-transform: uppercase;
  line-height: 1.8rem;
}

// Helper function for working with Sass maps.
// Example: @include print($configuration);
@mixin print($declarations) {
  @each $property, $value in $declarations {
    #{$property}: $value;
  }
}

// Layout content mixin.
@mixin layout-content {
  width: 100%;
  max-width: 1270px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($bp-sm) {
    padding: 0 3.5rem;
  }
}

@mixin layout-content-narrow {
  width: 100%;
  max-width: 970px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($bp-sm) {
    padding: 0 3.5rem;
  }
}

@mixin space-between-xsm {
  margin-bottom: 1.4rem;

  @include breakpoint ($bp-lg) {
    margin-bottom: 2rem;
  }
}

@mixin space-between-sm {
  margin-bottom: 3.5rem;

  @include breakpoint ($bp-lg) {
    margin-bottom: 6.5rem;
  }
}

@mixin space-between-lg {
  margin-bottom: 4.5rem;

  @include breakpoint ($bp-lg) {
    margin-bottom: 8.5rem;
  }
}

// Vertical align mixin.
@mixin vertical-align($position: relative) {
  display: block;
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

// Horizontal align mixin.
@mixin horizontal-align($position: relative) {
  display: inline-block;
  left: 50%;
  position: $position;
  transform: translateX(-50%);
}

// Center align (both vert and horz) mixin.
@mixin center-align($position: relative) {
  display: block;
  left: 50%;
  position: $position;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Responsive tables:
// https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html
// https://codepen.io/huijing/details/XBGaNQ
// and https://lea.verou.me/2012/04/background-attachment-local/
// see also fixed table headers: https://adrianroselli.com/2020/01/fixed-table-headers.html
@mixin table-wrapper {
  overflow: auto;
  max-width: 100%;
  background:
    linear-gradient(to right, white 30%, rgba(255,255,255,0)),
    linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

// Wrapping long URLs or other text
// Handling Long Words and URLs (Forcing Breaks, Hyphenation, Ellipsis, etc)
// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
// added overflow: hidden; to .page-layout-wrapper in page-layout.scss to prevent long words and URLs from breaking out of the page, especially on mobile
// so far, I haven't used these mixins
@mixin word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
