// Typography
//
// Typography variables.

$font-sans: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Verdana, sans-serif;
$font-serif: "Georgia", serif;

@mixin font-stack-primary {
  font-family: $font-sans;
}

//@mixin font-stack-secondary {
//  font-family: $font-serif;
//}

// Font-Weights.
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// Font-Styles.
$font-style-italic: italic;

// Heading mixins.

@mixin heading-1-style {
  font-size: 4rem;// (3.1/5.4)*7.0=4.02
  line-height: 4.15rem;// (5.6/5.4)*4=4.148
  font-weight: $font-weight-extrabold;
  text-transform: uppercase;

  @include breakpoint($bp-md) {
    font-size: 7rem;
    line-height: 7.3rem;// (5.6/5.4)*7=7.3
  }
}

@mixin heading-2-style {
  font-size: 3.3rem;// (2.5/3.6)*4.7=3.26
  line-height: 3.4rem;// (5.6/5.4)*3.3=3.422
  font-weight: $font-weight-extrabold;
  text-transform: uppercase;

  @include breakpoint($bp-md) {
    font-size: 4.7rem;
    line-height: 4.9rem;// (5.6/5.4)*4.7=4.874
  }
}

@mixin heading-3-style {
  font-size: 3.1rem;// (2/2.4)*3.7=3.08
  line-height: 3.2rem;// (5.6/5.4)*3.1=3.214
  font-weight: $font-weight-extrabold;
  text-transform: none;

  @include breakpoint($bp-md) {
    font-size: 3.7rem;
    line-height: 3.8rem;// (5.6/5.4)*3.7=3.837
  }
}

@mixin heading-4-style {
  font-size: 2.4rem;// (1.6/2.8)*3=1.71 -- looked too small
  line-height: 2.8rem;// (5.6/5.4)*1.7=1.76 -- stop at 2.4
  font-weight: $font-weight-extrabold;
  text-transform: none;

  @include breakpoint($bp-md) {
    font-size: 3rem;
    line-height: 3.1rem;// (5.6/5.4)*3=3.111
  }
}

@mixin heading-5-style {
  font-size: 1.7rem;// no smaller than 1.6
  line-height: 2.4rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $color-umass-maroon;

  @include breakpoint($bp-md) {
    font-size: 1.9rem; // no smaller than 1.9
    line-height: 2.8rem;// (5.6/5.4)*1.9=1.97 -- stop at 2.8
  }
}

@mixin heading-6-style {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: $font-weight-semibold;
  font-style: $font-style-italic;
  text-transform: none;

  @include breakpoint($bp-md) {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
}

@mixin global-typography {

  h1 {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }

  h2 {
    margin-top: 2.4rem;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 2.4rem;
    margin-bottom: 0;
  }

  h4 {
    margin-top: 2.4rem;
    margin-bottom: 0;
  }

  h5 {
    margin-top: 2.4rem;
    margin-bottom: 0;
  }

  h6 {
    margin-top: 2.4rem;
    margin-bottom: 0;
  }

  p,
  ul,
  ol,
  pre,
  table,
  blockquote {
    margin-top: 1rem;
    margin-bottom: 2.4rem;
  }

  p.margin-bottom-none {
    margin-bottom: 0;
  }

  li {
    margin: 0.4rem 0;
    line-height: 1.375;
  }

  ul,
  ol {
    list-style-position: outside;
    margin-left: 4ch;
  }

  ul ::marker,
  ol ::marker {
    color: $color-umass-maroon;
    font-weight: $font-weight-semibold;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul.three-columns {
    column-count: 3;
    column-width: 210px;//acts as min-width
    column-gap: 3rem;

    li {
      width: 100%;

      a {
        display: block;
        line-height: 1.375;
      }
    }
  }

  p + h5,
  p + h6,
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-top: 0;
  }

  div > h5:first-child,
  div > h6:first-child {
    margin-top: 1rem;
  }

  @include breakpoint($bp-md) {

    h1 {
      margin-top: 2.8rem;
      margin-bottom: 2.8rem;
    }

    h2 {
      margin-top: 2.8rem;
      margin-bottom: 0;
    }

    h3 {
      margin-top: 2.8rem;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 2.8rem;
      margin-bottom: 0;
    }

    h5 {
      margin-top: 2.8rem;
      margin-bottom: 0;
    }

    h6 {
      margin-top: 2.8rem;
      margin-bottom: 0;
    }

    p,
    ul,
    ol,
    pre,
    table,
    blockquote {
      margin-top: 1.4rem;
      margin-bottom: 2.8rem;
    }

    p.margin-bottom-none {
      margin-bottom: 0;
    }

    li {
      margin: 0.5rem 0;
      line-height: 1.5;
    }

    div > h5:first-child,
    div > h6:first-child {
      margin-top: 1.4rem;
    }
  }
}
