// Vertical Rhythm for Typography
//
// Mostly margins.

h1 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

h2 {
  margin-top: 2.4rem;
  margin-bottom: 0;
}

h3 {
  margin-top: 2.4rem;
  margin-bottom: 0;
}

h4 {
  margin-top: 2.4rem;
  margin-bottom: 0;
}

h5 {
  margin-top: 2.4rem;
  margin-bottom: 0;
}

h6 {
  margin-top: 2.4rem;
  margin-bottom: 0;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0.2rem;
  margin-bottom: 2.4rem;
}

li {
  margin-bottom: 1.2rem;
}

ul,
ol {
  list-style-position: outside;
  margin-left: 4ch;
}

ul ::marker,
ol ::marker {
  color: $color-umass-maroon;
  font-weight: $font-weight-semibold;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

@include breakpoint($bp-md) {

  h1 {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
  }

  h2 {
    margin-top: 2.8rem;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 2.8rem;
    margin-bottom: 0;
  }

  h4 {
    margin-top: 2.8rem;
    margin-bottom: 0;
  }

  h5 {
    margin-top: 2.8rem;
    margin-bottom: 0;
  }

  h6 {
    margin-top: 2.8rem;
    margin-bottom: 0;
  }

  p,
  ul,
  ol,
  pre,
  table,
  blockquote {
    margin-top: 0.4rem;
    margin-bottom: 2.8rem;
  }

  li {
    margin-bottom: 1.4rem;
  }
}
