// Import site utilities.
@import '../../global/utils/init';

.card {
  // Add a max-width so this doesn't look super weird in the style guide.
  max-width: 345px;
  position: relative;
}

.card:focus-within {
  outline: 3px solid $color-gold;
  outline-offset: 3px;

  .card__image::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, transparent 60%, rgba(0, 0, 0, 0.5) 95%);
  }
}

//better text underline -> https://codepen.io/lhorak/pen/bEavyg
//animated multi-line links -> https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/

.card a.heading__link {
  text-shadow:
    0 -2px 0 $color-white,
    0 -1px 0 $color-white,
    0 0 0 $color-white,
    2px -2px 0 $color-white,
    2px -1px 0 $color-white,
    2px 0 0 $color-white,
    -2px -2px 0 $color-white,
    -2px -1px 0 $color-white,
    -2px 0 0 $color-white,
    1px -2px 0 $color-white,
    1px -1px 0 $color-white,
    1px 0 0 $color-white,
    -1px -2px 0 $color-white,
    -1px -1px 0 $color-white,
    -1px 0 0 $color-white,
    0 -2px 0 $color-white,
    0 -1px 0 $color-white,
    0 0 0 $color-white;
  box-shadow:
    0 -3px 0 0 $color-white inset,
    0 -5px 0 0 transparent inset;
  transition: text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  color: $color-black;

  &:link,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    color: $color-black;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow:
      0 -3px 0 0 $color-white inset,
      0 -5px 0 0 $color-black inset;
  }
}

.card .card__heading a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card__image {
  position: relative;
}

.card__image::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card__image::after,
.card:focus-within .card__image::after {
  opacity: 1;
}

.card__image img {
  display: block;
  width: 100%;
}

ul.tags {
  margin-top: 2.1rem;
}

.card__heading {
  @include heading-4-style;
  margin-top: 1.6rem;
  line-height: 3.6rem;
}

.card__summary {
  margin-top: 1.9rem;
}

// default is to stretch, but then the vignette overlay is able to overflow the bottom below the image when the heading is taller than the image
.card.card--spotlight {
  max-width: 384px;

  @media screen and (min-width: 500px) and (max-width: 767px) {

    &.card-list__item,
    & {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .card__image {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {

    &.card-list__item,
    & {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .card__image {
        order: 1;
        width: 100%;
        max-width: 54%;
        margin-left: 4vw;
      }

      ul.tags {
        margin-top: 0;
      }
    }
  }

  @media screen and (min-width: 1200px) {

    &.card-list__item,
    & {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .card__image {
        order: 1;
        width: 100%;
        max-width: 65rem;
        margin-left: 48px;
        margin-top: -10rem;
      }

      ul.tags {
        margin-top: 0;
      }
    }
  }
}

.card.card--wide {

  @media screen and (min-width: 500px) {

    &.card-list__item,
    & {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .card__image {
        order: 1;
        max-width: 38.2%;
        margin-left: 4vw;
      }

      ul.tags {
        margin-top: 0;
      }
    }
  }

  @media screen and (min-width: 1200px) {

    &.card-list__item {

      .card__image {
        margin-left: 48px;
      }
    }
  }
}

