<section class="page-title-image page-title-image--with-image">

        <div class="page-title-image__media">
      

<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='/advancement/themes/custom/uma_daris/dist/images/2_ADV_vision_optB_1400x575_color.jpg' alt='Campus photo' />
    </div>
      </figure>
    </div>
  
  <div class="page-title-image__content">
              <div class="page-title-image__heading">
        

  
<h1 class="heading-twolines heading-twolines__single-line" >

  
        <span class="heading-twolines__line-1">Our Vision</span>
    
    
  
</h1>


<p>test</p>

      </div>
    
  </div>
</section>