{{ attach_library('uma_daris/page-title-image') }}

<section class="page-title-image{{ modifier ? ' ' ~ modifier }}{{- attributes ? attributes.class -}}"
{{- attributes ? attributes|without(class) -}}>

  {# Media should be limited to an image since it will be used as a background. This is done through the allowed media bundles in the paragraph type manage field settings #}
  {% if image %}
    <div class="page-title-image__media">
      {%
        include '@uma_daris/media-item/media-item.twig' with {
          "image": image
        } only
      %}
    </div>
  {% endif %}

  <div class="page-title-image__content">
    {# the following line had been title instead of heading which is a globally available variable in patternlab, so it worked there but not in Drupal where label is the variable name for title #}
    {% if heading %}
      <div class="page-title-image__heading">
        {%
          include '@uma_daris/heading-twolines/heading-twolines.twig' with {
            "heading": heading
          } only
        %}
      </div>
    {% endif %}

  </div>
</section>
