// Import site utilities.
@import '../../global/utils/init';

.pl-js-pattern-example li.card-list__item--attachments {
  display: none;
}

.path-features .views-exposed-form {

  .form-item-unit,
  .form-item-keys,
  .form-item-start,
  .form-item-end {
    float: left;
  }

  .form-item-keys {
    max-width: 39.3rem;

    @include breakpoint($bp-under-sm) {
      margin-right: 0;
    }
  }

  .form-item-unit {
    max-width: 100%;
    margin-right: 0;
  }

  .form-item-start {
    clear: both;
  }

  input[type='date'] {
    padding: 1.8rem 3rem;
  }

  .form-actions {
    width: 100%;
    float: left;
    clear: both;
    margin: 0;
    padding: 2.4rem 0 4.8rem;

    @media all and (max-width: 374px) {

      input {
        width: 100%;
      }

      input#edit-submit-features {
        margin-bottom: 2rem;
      }
    }

    @include breakpoint($bp-sm) {
      margin: 0;
      padding: 2.8rem 0 5.6rem;
    }
  }
}

.path-features {

  #empty-text {
    margin-bottom: 20vw;

    @include breakpoint($bp-lg) {
      margin-bottom: 25.3rem;
    }
  }

  #empty-text,
  .card-list {
    clear: both;
  }
}

.card-list {
  @include space-between-lg;
}

.card-list--spotlight {
  @include layout-content;
  @include space-between-lg;

  & > h2,
  & > p {
    @include breakpoint(1200px) {
      max-width: 45%;
    }
  }

  .card-list__items {
    margin-top: 4vw;

    @include breakpoint(500px) {
      margin-top: 3.33333vw;
    }

    @include breakpoint($bp-sm) {
      margin-top: 2.66667vw;
    }

    @include breakpoint(1200px) {
      margin-top: 32px;
    }

    li.card-list__item {
      margin-bottom: 15vw;

      @media screen and (min-width: 500px) and (max-width: 767px) {
        margin-bottom: 10vw;
      }

      @include breakpoint($bp-sm) {
        margin-bottom: 2.75vw;
      }

      @include breakpoint(1200px) {
        margin-bottom: 33px;
      }

      .card__heading {
        line-height: 1.2;

        @media screen and (max-width: 416px) {
          margin-top: 1.3rem;
          font-size: 2.5rem;
        }

        @media screen and (min-width: 417px) and (max-width: 499px) {
          margin-top: 3.2vw;
          font-size: 6vw;
        }
      }
    }
  }
}

.card-list--stacked-rows .heading-twolines,
.card-list--two-column-max .heading-twolines {
  @include heading-3-style;
}

.card-list__items {
  list-style-type: none;

  @include breakpoint(500px) {
    display: flex;
    justify-content: space-between;
  }

  .card-list__item {
    margin: 0;

    .card__tags {
      margin-top: 2.1rem;
      font-size: 1.6rem;
    }

    .card__heading {
      margin-top: 1.6rem;
      line-height: 3.6rem;
    }

    .card__summary {
      margin-top: 1.9rem;
    }
  }
}

.card-list__more-button {
  text-align: center;

  a.button {
    margin: 0;
  }
}

// campus feature footer for dashboard uses card-wide display mode
.card-list--stacked-rows {
  max-width: 773px;

  @include breakpoint ($bp-under-sm) {

    .card-list__more-button {
      margin-top: 4rem;
    }
  }

  .card-list__items {
    flex-direction: column;
    margin-top: 6vw;//?

    @include breakpoint(500px) {
      margin-top: 4vw;
    }

    @include breakpoint($bp-sm) {
      margin-top: 48px;
    }

    li.card-list__item {
      padding-bottom: 6vw;//?
      margin-bottom: 6vw;//?

      @include breakpoint(500px) {
        padding-bottom: 4vw;
        border-bottom: 1px solid $color-gray-lt;
        margin-bottom: 4vw;
      }

      @include breakpoint($bp-sm) {
        padding-bottom: 48px;
        margin-bottom: 48px;
      }

      .card__heading {
        line-height: 1.2;
      }
    }

    li.card-list__item:last-child {
      padding-bottom: 0;
      margin-bottom: 6vw;//?

      @include breakpoint(500px) {
        border-bottom: none;
        margin-bottom: 4vw;
      }

      @include breakpoint($bp-sm) {
        margin-bottom: 48px;
      }
    }

    .card {
      @media screen and (max-width: 499px) {
        max-width: 384px;
      }
    }
  }
}

// campus feature for homepage
.card-list--three-column-max {
  max-width: 1200px;

  .card-list__items {
    flex-wrap: wrap;
    margin-top: 6vw;

    @include breakpoint(500px) {
      margin-top: 5vw;
    }

    @include breakpoint($bp-sm) {
      margin-top: 4vw;
    }

    @include breakpoint(1200px) {
      margin-top: 48px;
    }

    li.card-list__item {
      width: inherit;
      margin-bottom: 15vw;

      @media screen and (min-width: 500px) and (max-width: 767px) {
        width: 44%;
        margin-bottom: 10vw;
      }

      @include breakpoint($bp-sm) {
        width: 28.75%;
        margin-bottom: 5.5vw;
      }

      @include breakpoint(1200px) {
        margin-bottom: 66px;
      }

      .card__tags {
        @media screen and (max-width: 670px) {
          margin-top: 1.8rem;
        }

        @media screen and (min-width: 671px) and (max-width: 767px) {
          margin-top: 2.1rem;
        }

        @media screen and (min-width: 768px) and (max-width: 1079px) {
          margin-top: 1.8rem;
        }

        @include breakpoint(1080px) {
          margin-top: 2.1rem;
        }
      }

      .card__tags .tag__item {
        @media screen and (max-width: 670px) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 671px) and (max-width: 767px) {
          font-size: 1.6rem;
        }

        @media screen and (min-width: 768px) and (max-width: 1079px) {
          font-size: 1.4rem;
        }

        @include breakpoint(1080px) {
          font-size: 1.6rem;
        }
      }

      .card__heading {
        line-height: 1.2;
        //proportional between fixed upper and lower values

        @media screen and (max-width: 416px) {
          margin-top: 1.3rem;
          font-size: 2.5rem;
        }

        @media screen and (min-width: 417px) and (max-width: 499px) {
          margin-top: 3.2vw;//16px at 499px wide
          font-size: 6vw;
        }

        @media screen and (min-width: 500px) and (max-width: 767px) {
          margin-top: 2.1vw;//16px at 767px wide
          font-size: 3.9vw;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          margin-top: 1.3vw;//16px at 1200px wide
          font-size: 2.5vw;//30px at 1200px wide
        }

        @media screen and (min-width: 1200px) {
          margin-top: 1.6rem;
          font-size: 3rem;
        }
      }

      .card__summary {
        @media screen and (max-width: 670px) {
          margin-top: 1.6rem;
        }

        @media screen and (min-width: 671px) and (max-width: 767px) {
          margin-top: 1.9rem;
        }

        @media screen and (min-width: 768px) and (max-width: 1079px) {
          margin-top: 1.6rem;
        }

        @include breakpoint(1080px) {
          margin-top: 1.9rem;
        }
      }
    }

    .card {
      @media screen and (max-width: 499px) {
        max-width: 384px;
      }
    }
  }
}

// internal announcement for dashboard
.card-list--two-column-max {
  max-width: 773px;

  .card-list__items {
    flex-wrap: wrap;
    margin-top: 6vw;//?

    @include breakpoint(500px) {
      margin-top: 4vw;
    }

    @include breakpoint($bp-sm) {
      margin-top: 48px;
    }

    li.card-list__item {
      width: inherit;
      margin-bottom: 15vw;

      @include breakpoint(500px) {
        width: 44%;
        margin-bottom: 10vw;
      }

      @include breakpoint($bp-sm) {
        margin-bottom: 77px;
      }

      .card__tags {
        @media screen and (max-width: 670px) {
          margin-top: 1.8rem;
        }

        @media screen and (min-width: 671px) {
          margin-top: 2.1rem;
        }
      }

      .card__tags .tag__item {
        @media screen and (max-width: 670px) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 671px) {
          font-size: 1.6rem;
        }
      }

      .card__heading {
        line-height: 1.2;
        //proportional between fixed upper and lower values

        @media screen and (max-width: 416px) {
          margin-top: 1.3rem;
          font-size: 2.5rem;
        }

        @media screen and (min-width: 417px) and (max-width: 499px) {
          margin-top: 3.2vw;//16px at 499px wide
          font-size: 6vw;
        }

        @media screen and (min-width: 500px) and (max-width: 767px) {
          margin-top: 2.1vw;//16px at 767px wide
          font-size: 3.9vw;
        }

        @media screen and (min-width: 768px) {
          margin-top: 1.6rem;
          font-size: 3rem;
        }
      }

      .card__summary {
        @media screen and (max-width: 670px) {
          margin-top: 1.6rem;
        }

        @media screen and (min-width: 671px) {
          margin-top: 1.9rem;
        }
      }
    }

    .card {
      @media screen and (max-width: 499px) {
        max-width: 384px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 860px) {

  .card-list--two-column-max-with-sidebar {

    .card-list__items {
      display: block;

      li.card-list__item,
      .card__image {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.card-list--spotlight,
.card-list--two-column-max,
.card-list--three-column-max {

  @include breakpoint ($bp-sm) {

    .card-list__more-button {
      margin-top: -3.5rem;
    }
  }

  @include breakpoint ($bp-under-sm) {

    .card-list__more-button {
      margin-top: -1.5rem;
    }
  }
}
