// Import site utilities.
@import '../../global/utils/init';

.accordion {
  background: transparent;
  padding: 2rem 0;
  border-bottom: 1px solid $color-gray-mid;

  svg {
    transition: transform 0.5s;
  }

  &.open {
    background: transparent;

    svg {
      transform: rotate(-180deg);
    }
  }
}

.accordion__heading {
  font-size: 1.7rem;
  line-height: 2.4rem;

  @include breakpoint($bp-md) {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
}

.accordion__toggle {
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: inherit;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:active {
    background: transparent;
  }

  &:hover .accordion__heading,
  &:active .accordion__heading {
    color: $color-umass-maroon;
    text-decoration: underline;
  }

  svg {
    fill: $color-umass-maroon;
    margin: 0 1rem;
    min-width: 1.2rem;
    width: 1.2rem;
    max-width: 1.2rem;
  }
}

.accordion__content {
  @include global-typography;
  @include text-links;
  max-height: 0;
  display: none;/* UMass ADA review required this so it wouldn't be keyboard focusable, but could I do this another way? */
  margin: 0;
  overflow: hidden;
  padding: 0 3.2rem 0 0;
  transition: max-height 0.3s, margin 0.5s;
  color: $color-black;

  .open & {
    max-height: 9999vh;
    display: block;/* UMass ADA review required this so it wouldn't be keyboard focusable, but could I do this another way? */
    margin: 1rem 0 0;
  }
}
