<section class="page-title-image page-title-image--with-image">

        <div class="page-title-image__media">
      

<figure class="media-item" >
    
      <div class="media-item__image">
      <img src='/advancement/themes/custom/uma_daris/dist/images/1_ADV_homepage_optA_1400x575_color.jpg' alt='Campus photo' />
    </div>
      </figure>
    </div>
  
  <div class="page-title-image__content">
              <div class="page-title-image__heading">
        


<h1 class="heading-twolines" >

  
        <span class="heading-twolines__line-1">Advancing the</span>
    
        <span class="heading-twolines__line-2">Revolutionary Spirit</span>
    
  
</h1>


<p>test</p>

      </div>
    
  </div>
</section>