<ul class="tags">
      <li class="tag__item">
      <span>
              <span><a href="#" class="tag__link">UMass Magazine</a></span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span><a href="#" class="tag__link">Annual Giving</a></span>
            </span>
    </li>
      <li class="tag__item">
      <span>
              <span><a href="#" class="tag__link">Alumni Association</a></span>
            </span>
    </li>
  </ul>