{{ attach_library('uma_daris/tags') }}

<ul class="tags{{ modifier ? ' ' ~ modifier }}
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% for item in items %}
    <li class="tag__item">
      <span>
      {% block tag_item %}
        {%
          include '@uma_daris/tags/_tag-item.twig' with {
            "name": item.name,
            "url": item.url
          } only
        %}
      {% endblock %}
      </span>
    </li>
  {% endfor %}
</ul>
