<ul class="menu list-unstyled">



      <li class="menu-item" id=" ">
      <a href="#" class=" ">Menu item 1</a>
    </li>
        <li class="menu-item" id=" ">
      <a href="#" class=" ">Menu item 2</a>
    </li>
        <li class="menu-item" id=" ">
      <a href="#" class=" ">Menu item 3</a>
    </li>
  </ul>