<section class="text-block-sidebar text-block-sidebar--with-block">
        

<h2 class="heading text-block-sidebar__heading" >

      Current Openings
  
</h2>
    <div class="text-block-sidebar__content">

        <div class="text-block-sidebar__paragraph-text">
      <h5>Project Manager</h5><h6>Location: Amherst, MA</h6><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nibh nec lobortis pretium. Pellentesque sit amet erat hendrerit, porta quam id, mattis est. Duis eu congue ante. Maecenas at nibh eget dolor porta maximus id a nunc. Nunc auctor dapibus lacus vitae eleifend. Quisque in turpis leo. Vivamus quis interdum lectus. Morbi a ligula et nisi interdum fermentum. Praesent eget nulla nec purus congue placerat at non turpis. Suspendisse tempus convallis diam, eu ullamcorper sapien tristique in.</p><h5>Social Media Strategist</h5><h6>Location: Amherst, MA</h6><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nibh nec lobortis pretium. Pellentesque sit amet erat hendrerit, porta quam id, mattis est. Duis eu congue ante. Maecenas at nibh eget dolor porta maximus id a nunc. Nunc auctor dapibus lacus vitae eleifend. Quisque in turpis leo. Vivamus quis interdum lectus. Morbi a ligula et nisi interdum fermentum. Praesent eget nulla nec purus congue placerat at non turpis. Suspendisse tempus convallis diam, eu ullamcorper sapien tristique in.</p>
    </div>

        <div class="text-block-sidebar__block-content">
      <nav role="navigation" aria-labelledby="-menu" class="block block-menu navigation menu--applicant-materials"><h2 id="-menu">Applicant Materials</h2><ul class="menu"><li class="menu-item"><a href="/advancement/" data-drupal-link-system-path="<front>">Advancement Division Organizational Chart</a></li><li class="menu-item"><a href="/advancement/" data-drupal-link-system-path="<front>">UMass Amherst Employee Benefits Information</a></li><li class="menu-item"><a href="/advancement/" data-drupal-link-system-path="<front>">UMass Amherst Foundation Employee Benefits</a></li></ul></nav>
    </div>
  
  </div>
</section>