// Import site utilities.
@import '../../global/utils/init';

.page-title-image--without-image .page-title-image__heading {
  @include layout-content;
  margin-bottom: 4.5rem;

  @media screen and (min-width: 768px) and (max-width: 920px) {
    margin-top: 2rem;
  }

  @media screen and (min-width: 768px) {
    padding: 0 3.5rem;
  }

  //not going to add padding-bottom like below so a subtitle could line up directly underneath on pages like resources and previously published

  //TO-DO: media queries here and below for one and two line headings without image
  //where do heading queries go? should these go in the heading-twoline component and the overrides for when there's an image can go below?

  .heading-twolines .heading-twolines__line-1 {
    @include heading-4-style;
    text-transform: uppercase;
  }

  .heading-twolines .heading-twolines__line-2 {
    @include heading-3-style;
    text-transform: uppercase;
  }

  .heading-twolines.heading-twolines__single-line .heading-twolines__line-1,
  .heading-twolines.heading-twolines__single-line .heading-twolines__line-2 {
    @include heading-3-style;
    text-transform: uppercase;
  }
}

.page-title-image--tight-layout .page-title-image__heading {
  padding: 0;
  margin-bottom: 1.2rem;

  @include breakpoint($bp-sm) {
    padding: 0;
  }

  @include breakpoint ($bp-lg) {
    margin-bottom: 1.6rem;
  }
}

//global styles before media queries are applied below
.page-title-image--with-image {
  position: relative;
  overflow: hidden;

  //this should go at end and catch otherwise over-tall images
  @media (min-aspect-ratio: 1/1) {
    max-height: 60vh;//prevents image from taking over on really wide-aspect ratio screens like wide laptops and phones in landscape orientation
    min-height: 260px;//because there has to be some lower limit
  }

  & .page-title-image__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (max-aspect-ratio: 1/1) and (max-width: 767px) {
      height: 315px;
    }

    @media (max-aspect-ratio: 1/1) and (max-width: 543px) {
      height: 223px;
    }
  }

  & .page-title-image__content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;// banner overlay menu is 5
    // used https://cssgradient.io
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0.54) 60%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    //max-height: 40rem;
    // (img height/img width)*100=41.0714, but ie11 was still showing a gap, so I reduced it until testing on browserstack showed the gap was gone
  }
  // breakpoint changes are next for font size, gradient, etc.
  // we're going to need at least 3 breakpoints building up from mobile

  & .page-title-image__heading {
    @include layout-content;
    max-width: 1360px;// overrides 1270
    padding-top: 3rem;// overrides 0
    padding-bottom: 1.5rem;// overrides 0

    .heading-twolines__single-line {
      padding-top: 3rem;
    }

    @include breakpoint($bp-sm) {
      padding-top: 7rem;// overrides 0
      padding-bottom: 2.8rem;// overrides 0

      .heading-twolines__single-line {
        padding-top: 7rem;
      }
    }
  }

  & .heading-twolines,
  & p {
    color: $color-white;
  }

  & .heading-twolines .heading-twolines__line-1 {
    //proportional between fixed upper and lower values
    font-size: 3.43vw;//48px at 1400px wide
    line-height: 1;

    @include breakpoint($bp-under-sm) {
      font-size: 2.63rem;
      line-height: 1;
    }

    @include breakpoint($bp-under-xsm) {
      font-size: 2.13rem;
      line-height: 1;
    }

    @include breakpoint($bp-xl) {
      font-size: 4.8rem;
      line-height: 1;
    }
  }

  & .heading-twolines .heading-twolines__line-2,
  & .heading-twolines.heading-twolines__single-line .heading-twolines__line-1,
  & .heading-twolines.heading-twolines__single-line .heading-twolines__line-2 {
    //proportional between fixed upper and lower values
    font-size: 5vw;//70px at 1400px wide
    line-height: 1;

    @include breakpoint($bp-under-sm) {
      font-size: 3.83rem;
      line-height: 1;
    }

    @include breakpoint($bp-under-xsm) {
      font-size: 3.1rem;
      line-height: 1;
    }

    @include breakpoint($bp-xl) {
      font-size: 7rem;
      line-height: 1;
    }
  }
}
