<div class="paragraph--type--text-pub">
  <p>Primary font: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Verdana, sans-serif;</p>
  <p><em>Primary font italic: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Verdana, sans-serif;</em></p>
  <p><strong>Primary font bold: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Verdana, sans-serif;</strong></p>
</div>